
<div class="am-padding am-text-lg am-padding-bottom-0">
    {$info.title}
</div>
<div class="dux-box ">
    <div class="am-form dux-form dux-form-right">
        <div class="am-input-group">
            <span class="am-input-group-label">交易金额</span>
            <div class="am-form-content">

                <span class="am-text-lg">{$info.type ? '+' : '-'}{$info.money}</span>
            </div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">交易状态</span>
            <div class="am-form-content">{$info.status ? '交易完成' : '交易关闭'}</div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">时间</span>
            <div class="am-form-content">{date('Y-m-d H:i:s', $info.time)}</div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">流水号</span>
            <div class="am-form-content">{$info.log_no}</div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">交易备注</span>
            <div class="am-form-content">{$info.remark ? $info.remark : '无'}</div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">支付方式</span>
            <div class="am-form-content">{$info.pay_name}</div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">支付单号</span>
            <div class="am-form-content">{$info.pay_no}</div>
        </div>
    </div>
</div>