<div class="dux-page">
    <div class="page-header">
        申请成为分销商
    </div>
    <div class="page-box">
        <div class="am-g">
            <div class="am-u-sm-5">
                <img src="{$sysPublic}/sale/images/banner.jpg">
            </div>
            <div class="am-u-sm-7">
                <div class="am-panel am-panel-secondary">
                    <div class="am-panel-hd"><h3 class="am-panel-title">1、分享产品的佣金</h3></div>
                    <div class="am-panel-bd">分成为分销商您可以通过链接或二维码分享给他人，卖出产品后，您可以获得佣金。</div>
                </div>
                <div class="am-panel am-panel-success">
                    <div class="am-panel-hd"><h3 class="am-panel-title">2、无需打理网店</h3></div>
                    <div class="am-panel-bd">分销商的产品销售统一由商家直接收款、发货，并提供产品售后服务，无需由您进行管理。</div>
                </div>
                <div class="am-panel am-panel-warning">
                    <div class="am-panel-hd"><h3 class="am-panel-title">3、三级分销佣金制度</h3></div>
                    <div class="am-panel-bd">您的下级分销商成功出售获得佣金的同时您同样可以获得一定的佣金，让您的推广更简单。</div>
                </div>

                <p>{$html}</p>
                <!--if{empty($saleInfo) && empty($applyInfo)}-->
                <br>
                <p>
                    <a href="{url('submit')}" class="am-btn am-btn-primary am-btn-block">申请成为分销商</a>
                </p>
                <!--{/if}-->
            </div>
        </div>
    </div>
</div>