<div class="dux-page">
    <div class="page-header">
        修改密码
    </div>
    <div class="page-box">
        <form class="dux-form am-form am-form-horizontal" action="{url()}" method="post" data-dux="form-bind" data-advanced="false">
            <div class="am-form-group">
                <label class="am-form-label">原始密码</label>
                <div class="am-form-content">
                    <input type="text" name="old_password" placeholder="原始密码">
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-form-label">新密码</label>
                <div class="am-form-content">
                    <input type="text" name="password" placeholder="新密码">
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-form-label">重复密码</label>
                <div class="am-form-content">
                    <input type="text" name="password2" placeholder="请再次输入新密码">
                </div>
            </div>
            <div class="am-form-group">
                <div class="am-form-content">
                    <button type="submit" class="am-btn am-btn-danger am-btn-sm">修改密码</button>
                </div>
            </div>


        </form>
    </div>
</div>