{extend name="layout" /}
{block name="page-header"}<title>{$page_title|default='3guys shop'}</title>{/block}
{block name="style"}
{/block}
{block name="content"}
<div class="breadcrumbs">
    <a href="http://www.goodluck-3guys.com/" title="前往主頁">主頁</a>
    <span>》</span>
    關於我們
</div>

<div class="std">
    <p><span>&nbsp; &nbsp; &nbsp;&nbsp;<span>3guys shop 購物中心是超大型網路購物中心，專門為您提供各種產品最佳交易的網路購物中心。憑借高品質的服務和對客戶的長期承諾，3guys shop將繼續發展，同時為客戶提供最優質的產品，及時的出貨和卓越的客戶服務，為客戶量身打造新的目標。</span></span><br><span>&nbsp; &nbsp; &nbsp;3guys shop 購物中心擁有二十大商品類別，上千件以上的豐富商品，商品類別包括視聽家電、消費電子、美妝、服裝、鞋包 配件、精品/手錶、傢俱/寢飾等，3guys shop&nbsp;購物中心熱衷於讓客戶在線購物變得更輕松愉快，在更短的時間享受更愉悅的購物體驗，以更便宜的價格買到想要的商品。</span><br><span>3guys shop&nbsp;購物中心</span></p>
    <p><span></span>Proud Extension E-commerce Co., Ltd.</p>
    <p><span>聯繫電話： 02-66304628</span><br><span>售後服務專線：service.goodluck-3guys@outlook.com</span></p>
    <p></p>
    <p></p>
    <p><span></span><span style="font-size: large;">我們的倉庫</span></p>
    <p>
        <span>
        <img alt="我們的倉庫" src="/public/static/home/img/canku.jpg" style="vertical-align: middle;" title="倉庫">
    </span>
    </p>
    <p>
        <span>
        <img alt="我們的倉庫" src="/public/static/home/img/canku3.jpg" style="vertical-align: middle;" title="倉庫">
    </span>
    </p>
    <p>
        <span>
        <img alt="我們的倉庫" src="/public/static/home/img/canku1.jpg" style="vertical-align: middle;" title="倉庫">
    </span>
    </p>
</div>
{/block}

