<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>首頁</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="購物中心擁有二十大商品類別，上千件以上的豐富商品，商品類別包括消費電子、美妝、新品男鞋、潮流女裝、時尚女鞋、性感內衣、家居用品、廚房用品等。3guysshop 購物中心熱衷於讓客戶在線購物變得更輕松愉快，在更短的時間享受更愉悅的購物體驗，以更便宜的價格買到想要的商品。並享有七天猶豫期，信用卡、貨到付款等支付方式，讓您購物最便利。">
    <meta name="keywords" content="商城，品牌服飾，男女背包，性感內衣，床罩，枕頭">
    <meta name="robots" content="INDEX,FOLLOW">
  <link rel="alternate" media="only screen and (max-width: 640px)" href="http://www.baidu.com/">
    <!--[if lt IE 7]>
    <script type="text/javascript">
        //<![CDATA[
    var BLANK_URL = 'http://www.goodluck-3guys.com//js/blank.html';
    var BLANK_IMG = 'http://www.goodluck-3guys.com//js/spacer.gif';
//]]>
</script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/index/default.css">
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/index/iconfont.css" media="all">
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/index/style1.css" media="all">
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/index/swiper.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/index/public.css" media="all">
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/index/style_bolg.css" media="all">
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/index/cctype.css" media="all">
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/index/savedcards.css" media="all">
    <script type="text/javascript" src="/public/static/home/js/index/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/noconflict.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/ccard.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/builder.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/effects.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/dragdrop.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/slider.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/cookies.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/jian.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/main.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/base.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/index.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/cryozonic_stripe.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/cctype.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/hhSwipe.js"></script>
    <script type="text/javascript" src="/public/static/home/js/index/swiper-3.4.0.jquery.min.js"></script>
    <script type="text/javascript">Mage.Cookies.path ='/';Mage.Cookies.domain ='.';</script>
    <script type="text/javascript">optionalZipCountries =["MO","HK","PA","IE"];</script>
</head>
<body class="page-empty  cms-index-index cms-home-wap" style="padding-top: 50px;">
<div class="layercengtop"></div>
<header class="maintop" id="header">
    <div class="header">
        <a href="/index.php/index/classify/index" id="cd-menu-trigger"><span class="cd-menu-icon"></span></a>
        <a href="/admin.php/user/publics/signin.html"><span
                class="yh-icon newiconfont newicon-yonghu3"></span></a>
        <a href="">
            <img alt="" src="/public/static/home/img/logo.png"></a>
        <a href="javascript:void(0);" class="seach newiconfont newicon-sousuotiaofangdajingqz11" data-animation="fade"
           data-reveal-id="myModal"></a>
    </div>
</header>
<nav id="cd-lateral-nav" style="display: none;">
    <div class="nav-container">
        <ul id="nav">
            {volist name="cate_list" id="vo"}
            <li class="level0 nav-1 first level-top">
                <a href="/index.php/index/classify/index/id/{$vo.id}" class="level-top"><span>{$vo.title} </span></a>
            </li>
            {/volist}
        </ul>
    </div>
    <ul class="cd-navigation" style="display:none">
        <li class="item-has-children currency-select">
            <a href="#">幣種</a><span class="rightico"><i class="gw-i"></i></span>
            <ul class="sub-menu">
                <li>
                    <a class="TWD"
                       href="http://www.goodluck-3guys.com/directory/currency/switch/currency/TWD/uenc/aHR0cHM6Ly93d3cudml2aXNob3AudHcvP3JlZnJlc2g9MQ,,/"
                       title="TWD"><span></span> TWD</a>
                </li>
                <li>asd</li>
                <li>
                    <a class="JPY"
                       href="http://www.goodluck-3guys.com/directory/currency/switch/currency/JPY/uenc/aHR0cHM6Ly93d3cudml2aXNob3AudHcvP3JlZnJlc2g9MQ,,/"
                       title="JPY"><span></span> JPY</a>
                </li>
                <li>asd</li>
                <li>
                    <a class="EUR"
                       href="http://www.goodluck-3guys.com/directory/currency/switch/currency/EUR/uenc/aHR0cHM6Ly93d3cudml2aXNob3AudHcvP3JlZnJlc2g9MQ,,/"
                       title="EUR"><span></span> EUR</a>
                </li>
                <li>asd</li>
                <li>
                    <a class="THB"
                       href="http://www.goodluck-3guys.com/directory/currency/switch/currency/THB/uenc/aHR0cHM6Ly93d3cudml2aXNob3AudHcvP3JlZnJlc2g9MQ,,/"
                       title="THB"><span></span> THB</a>
                </li>
                <li>asd</li>
            </ul>
        </li>
    </ul>
</nav>
<script type="text/javascript">jQuery(function () {
    jQuery('.seach').click(function () {
        jQuery('.reveal-modal').slideDown();
    });
})
</script>
<div class="reveal-modal" id="review-form">
    <div class="return-icon"><img src="/public/static/home/img/return.svg"></div>
    <form id="top-search" action="catalogsearch/result/" method="get">
        <div class="search">
            <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="請輸入關鍵字或品牌">
            <button type="submit" title="搜尋" class="button"><span><span>搜尋</span></span></button>
            <div id="search_autocomplete" class="search-autocomplete"></div>
        </div>
    </form>
    <div class="hot">
        <div class="title">熱門搜尋</div>
        <ul class="hot-left">
            <li><a href="javascript:void(0)">塑身褲</a></li>
            <li><a href="javascript:void(0)">收腹褲</a></li>
            <li><a href="javascript:void(0)">牛仔褲</a></li>
            <li><a href="javascript:void(0)">運動鞋</a></li>
            <li><a href="javascript:void(0)">按摩棒</a></li>
            <li><a href="javascript:void(0)">休閒皮鞋</a></li>
            <li><a href="javascript:void(0)">藍牙音響</a></li>
            <li><a href="javascript:void(0)">as快眠枕</a></li>
            <li><a href="javascript:void(0)">單肩斜挎包</a></li>
            <li><a href="javascript:void(0)">車用吸塵器</a></li>
            <li><a href="javascript:void(0)">多功能錢包</a></li>
        </ul>
        <ul class="hot-right">
            <li><a href="javascript:void(0)">麥飯石炒鍋</a></li>
            <li><a href="javascript:void(0)">無痕殺菌內褲</a></li>
            <li><a href="javascript:void(0)">OKO蜂巢不沾鍋</a></li>
            <li><a href="javascript:void(0)">優奇仕钛鑽鍍膜</a></li>
            <li><a href="javascript:void(0)">骨傳導藍牙耳機</a></li>
            <li><a href="javascript:void(0)">INTEX懶人充氣沙發</a></li>
            <li><a href="javascript:void(0)">CoolBell防盜後背包</a></li>
            <li><a href="javascript:void(0)">Rontion磁懸浮地球儀</a></li>
            <li><a href="javascript:void(0)">Maidini油蠟牛皮托特包</a></li>
        </ul>
    </div>
</div>
<ins class="adsbygoogle adsbygoogle-noablate" data-adsbygoogle-status="done" style="display: none;">
    <ins id="aswift_0_expand" style="display:inline-table;border:none;height:NaNpx;margin:0;padding:0;position:relative;visibility:visible;width:NaNpx;background-color:transparent;">
        <ins id="aswift_0_anchor"
             style="display:block;border:none;height:NaNpx;margin:0;padding:0;position:relative;visibility:visible;width:NaNpx;background-color:transparent;">
            <iframe frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true"
                    scrolling="no" allowfullscreen="true"
                    onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}"
                    id="aswift_0" name="aswift_0"
                    style="left:0;position:absolute;top:0;width:NaNpx;height:NaNpx;"></iframe>
        </ins>
    </ins>
</ins>
<script type="application/javascript" id="ywa-1525281203638-877626" class="ywa-10000" defer=""
        src="http://sp.analytics.yahoo.com/sp.pl?a=10000&amp;jsonp=YAHOO.ywa.I13N.handleJSONResponse&amp;d=Wed%2C%2002%20May%202018%2017%3A13%3A23%20GMT&amp;n=-8&amp;b=%E9%A6%96%E9%A0%81%20%7C%203guysshop%E5%9A%B4%E9%81%B8%E5%93%81%E7%89%8C%E6%97%97%E8%89%A6%E5%BA%97&amp;.yp=10044846&amp;f=http%3A%2F%2Fwww.goodluck-3guys.com%2F&amp;enc=UTF-8"></script>
<script type="application/javascript" id="ywa-1525281203639-906220" class="ywa-10000" defer=""
        src="http://sp.analytics.yahoo.com/sp.pl?a=10000&amp;jsonp=YAHOO.ywa.I13N.handleJSONResponse&amp;b=%E9%A6%96%E9%A0%81%20%7C%203guysshop%E5%9A%B4%E9%81%B8%E5%93%81%E7%89%8C%E6%97%97%E8%89%A6%E5%BA%97&amp;.yp=10043910&amp;f=http%3A%2F%2Fwww.goodluck-3guys.com%2F&amp;enc=UTF-8"></script>
<script type="application/javascript" id="ywa-1525281203639-792947" class="ywa-10000" defer=""
        src="http://sp.analytics.yahoo.com/sp.pl?a=10000&amp;jsonp=YAHOO.ywa.I13N.handleJSONResponse&amp;b=%E9%A6%96%E9%A0%81%20%7C%203guysshop%E5%9A%B4%E9%81%B8%E5%93%81%E7%89%8C%E6%97%97%E8%89%A6%E5%BA%97&amp;.yp=10046369&amp;f=http%3A%2F%2Fwww.goodluck-3guys.com%2F&amp;enc=UTF-8"></script>
<script type="application/javascript" id="ywa-1525281203639-49378" class="ywa-10000" defer=""
        src="http://sp.analytics.yahoo.com/sp.pl?a=10000&amp;jsonp=YAHOO.ywa.I13N.handleJSONResponse&amp;b=%E9%A6%96%E9%A0%81%20%7C%203guysshop%E5%9A%B4%E9%81%B8%E5%93%81%E7%89%8C%E6%97%97%E8%89%A6%E5%BA%97&amp;.yp=10049990&amp;f=http%3A%2F%2Fwww.goodluck-3guys.com%2F&amp;enc=UTF-8"></script>
<script type="text/javascript">var searchForm = new Varien.searchForm('search_mini_form', 'search', '在這裡搜寻整個商店...');
searchForm.initAutocomplete('http://www.goodluck-3guys.com/catalogsearch/ajax/suggest/', 'search_autocomplete');</script>
<script>jQuery(function () {
    jQuery('.hot a').click(function () {
        var query = jQuery(this).html();
        var url = '/catalogsearch/result/?q=' + query;
        location.href = url;
    });
});</script>

<div class="std">
    <p>
        <script type="text/javascript">var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 4,
            loop: true,
            paginationClickable: true,
            spaceBetween: 10,
            freeMode: true
        });</script>
    </p>
</div>
<div class="addWrap">
    <div class="swipe" id="mySwipes" style="visibility: visible;">
        <div class="swipe-wrap" style="width: 3120px;">
            <div data-index="0"
                 style="width: 780px; left: 0px; transition-duration: 300ms; transform: translate(0px, 0px) translateZ(0px);">
                <a href="/public/index.php/index/classify/index"><img class="img-responsive" src="/public/static/home/img/mianma-730x400.jpg"
                                                alt=""></a></div>
            <div data-index="1"
                 style="width: 780px; left: -780px; transition-duration: 0ms; transform: translate(780px, 0px) translateZ(0px);">
                <a href="/index.php/index/classify/index"><img class="img-responsive"
                                               src="/public/static/home/img/QQ图片20180227150004-730x400.jpg" alt=""></a>
            </div>
            <div data-index="2"
                 style="width: 780px; left: -1560px; transition-duration: 300ms; transform: translate(-780px, 0px) translateZ(0px);">
                <a href="/index.php/index/classify/index"><img class="img-responsive" src="/public/static/home/img/hometw1654-730x400.jpg"
                                               alt=""></a></div>
            <div data-index="3"
                 style="width: 780px; left: -2340px; transition-duration: 300ms; transform: translate(-780px, 0px) translateZ(0px);">
                <a href="/index.php/index/classify/index"><img class="img-responsive"
                                                                           src="/public/static/home/img/QQ图片20180112160501-730x400.jpg"
                                                                           alt=""></a></div>
        </div>
    </div>
    <ul id="position">
        <li class="cur"></li>
        <li class=" "></li>
        <li class=" "></li>
        <li class=" "></li>
    </ul>
</div>
<div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.4993569225357617"><img
        style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.2062977666210557" width="0"
        height="0" alt=""
        src="http://bat.bing.com/action/0?ti=6013837&amp;Ver=2&amp;mid=b920aa32-6aa7-4057-e9a6-26a0cf213237&amp;evt=pageLoad&amp;sid=3f598e04-0&amp;pi=-1978200868&amp;lg=zh-CN&amp;sw=1366&amp;sh=768&amp;sc=24&amp;tl=%E9%A6%96%E9%A0%81%20%7C%203guysshop%E5%9A%B4%E9%81%B8%E5%93%81%E7%89%8C%E6%97%97%E8%89%A6%E5%BA%97&amp;kw=3guysshop%E8%B3%BC%E7%89%A9%E4%B8%AD%E5%BF%83%EF%BC%8C%E5%8F%B0%E7%81%A3%E7%B6%B2%E7%B5%A1%E8%B3%BC%E7%89%A9%E5%95%86%E5%9F%8E%EF%BC%8C%E5%93%81%E7%89%8C%E6%9C%8D%E9%A3%BE%EF%BC%8C%E7%94%B7%E5%A5%B3%E8%83%8C%E5%8C%85%EF%BC%8C%E6%80%A7%E6%84%9F%E5%85%A7%E8%A1%A3%EF%BC%8C%E5%BA%8A%E7%BD%A9%EF%BC%8C%E6%9E%95%E9%A0%AD&amp;p=http%3A%2F%2Fwww.goodluck-3guys.com%2F&amp;r=&amp;msclkid=N&amp;rn=566306">
</div>
<script>var bullets = document.getElementById('position').getElementsByTagName('li');
var banner = Swipe(document.getElementById('mySwipes'), {
    auto: 4000,
    continuous: true,
    disableScroll: false,
    callback: function (pos) {
        var i = bullets.length;
        while (i--) {
            bullets[i].className = ' ';
        }
        bullets[pos].className = 'cur';
    }
})</script>
<div class="static_nav">
    <div class="ind-nav" style="visibility: visible;">
        <ul class="li_nav">
            {volist name="cate_list" id="vo"}
            <li>
                <a href="/index.php/index/classify/index/id/{$vo.id}">
                    <img class="img-responsive" src="{$vo.pic|get_file_path}"  alt="{$vo.title}">
                </a>
            </li>
            {/volist}
        </ul>
    </div>
</div>
<div class="djs">
    <div class="djstu1">
        <a href="/index.php/index/classify/index">
            <img src="/public/static/home/img/jop.jpg" width="308" height="380">
        </a>
    </div>
    <div class="djstu2">
        <div class="djs01">
            <a href="/index.php/index/classify/index">
                <img src="/public/static/home/img/jop2.jpg" width="308" height="190">
            </a>
        </div>
        <div class="djs02">
            <a href="/index.php/index/classify/index">
                <img src="/public/static/home/img/jop1.jpg" width="308" height="190">
            </a>
        </div>
    </div>
</div>
<div class="cp_fl">
</div>
<div class="newsale-title">
    <div class="newsale_r">
        限量搶購中
    </div>
</div>
<div class="new-sale-big">
    <a href="/index.php/index/classify/index"><img src="/public/static/home/img/xinpin.jpg"></a>
</div>
<div class="clear"></div>

<div class="home_category_list">
    <ul class="prolist">
        {volist name="goods_list" id="vo"}
        <li>
            <div class="pro-tu">
                <a href="/index.php/index/goods/index/id/{$vo.id}">

                    <img   src="{$vo.pic|get_file_path}"    width="400" height="400" alt=""></a>
            </div>
            <div class="pro-tex">
                <h3><a href="/index.php/index/goods/index/id/{$vo.id}">{$vo.name}</a></h3>
                <div class="p3">
                    <span class="newprice">NT$ {$vo.price}</span>
                    <span class="oldprice">NT$ {$vo.price}</span>
                </div>
            </div>
        </li>
        {/volist}
    </ul>
    <div class="clear"></div>
</div>
<div class="hsale-title">
    <div class="timer" id="timer"><span>倒数</span><span id="h" class="timerk">22</span>:<span id="m"
                                                                                             class="timerk">43</span>:<span
            id="s" class="timerk">10</span>结束
    </div>
</div>
<script language="javascript">
    (function ($) {
        var endtime = '24:00:00';
        $.ajax({
            type: 'post',
            url: '/customshippingmethod/countdown/index',
            data: {'endtime': endtime},
            success: function (datetime) {
                if (datetime) {
                    countDown(datetime);
                }
            }
        });
        function countDown(datetime) {
            var h = Math.floor(datetime / 3600);
            var m = Math.floor((datetime % 3600) / 60);
            var s = (datetime % 3600) % 60;

            if (h < 10) h = "0" + h;
            if (m < 10) m = "0" + m;
            if (s < 10) s = "0" + s;

            $("#timer").html('<span>倒数</span><span id="h" class="timerk">' + h + '</span>:<span id="m" class="timerk">' + m + '</span>:<span id="s" class="timerk">' + s + '</span>结束');

            setTimeout(function () {
                countDown(datetime - 1);
            }, 1000);
        }

    })(jQuery);
</script>
<div class="clear"></div>

<div class="home_category_list">
    <ul class="prolist">
        {volist name="goods_list" id="vo"}
        <li>
            <div class="pro-tu">
                <a href="/index.php/index/goods/index/id/{$vo.id}">
                    <img  src="{$vo.pic|get_file_path}" width="400" height="400" alt="">
                </a>
            </div>
            <div class="pro-tex">
                <h3><a href="/index.php/index/goods/index/id/{$vo.id}">{$vo.name}</a></h3>
                <div class="p3">
                    <span class="newprice">NT$ {$vo.price}</span>
                    <span class="oldprice">NT$ {$vo.price}</span>
                </div>
            </div>
        </li>
        {/volist}
    </ul>
    <div class="clear"></div>
</div>
<div class="cp_fl">
</div>
<div class="hotsale-title">
    <div class="hotsale_r">
        挑戰最低價
    </div>
</div>
<div class="home_category_list" id="descDiv">
    <ul class="prolist">
        {volist name="goods_list" id="vo"}
        <li style="display: block;">
            <div class="pro-tu">
                <a href="/index.php/index/goods/index/id/{$vo.id}">
                    <img  src="{$vo.pic|get_file_path}" width="400" height="400" alt=""></a>
            </div>
            <div class="pro-tex">
                <div class="p3">
                    <span class="newprice">NT$ <i class="fprice">{$vo.price}</i></span>
                    <span class="oldprice">NT$ {$vo.price}</span>
                </div>
                <h3><a href="/index.php/index/goods/index/id/{$vo.id}">{$vo.name}</a></h3>
            </div>
        </li>
        {/volist}
    </ul>
    <div class="clear"></div>
</div>
<div id="load" style="width:100%;text-algin:center;height:40px;padding:8px 0;">
    <img
        src="/public/static/home/img/loading.gif"
        style="width: auto; margin: 0px auto; display: none;"></div>
<script>jQuery(document).ready(function () {
    var state = true;
    var linum = jQuery("#descDiv ul li").length;
    jQuery("#descDiv ul li:lt(4)").show();
    jQuery(window).scroll(function () {
        var scrot = jQuery(document).scrollTop() + 100;
        if (scrot >= jQuery(document).height() - jQuery(window).height()) {
            if (state == true) {
                state = false;
                jQuery("#load img").css("display", "block");
                setTimeout(function () {
                    jQuery("#load img").css("display", "none");
                    var lilen = jQuery("#descDiv ul li:visible").length;
                    var lilent = lilen + 4;
                    jQuery("#descDiv ul li:lt(" + lilent + ")").show();
                    if (lilent >= linum) {
                        jQuery("#load").html("<p style='text-align:center;line-height:30px;font-size:14px;'>已經到最底端了</p>").css({"margin-top": "1px"});
                    } else {
                        state = true;
                    }
                }, 1000);
            }
        }
    });
});</script>
<style>#descDiv .prolist li {
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    box-shadow: none;
    display: none;
}

#descDiv .prolist li .newprice {
    font-weight: normal;
}

#descDiv .prolist li .newprice .fprice {
    font-style: normal;
    font-size: 18px;
}</style>
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">var deviceType = (window.innerWidth <= 767) ? 'm' : (window.innerWidth >= 980) ? 'd' : 't';
window.criteo_q = window.criteo_q || [];
window.criteo_q.push({"event": "setSiteType", "type": deviceType, "ecpplugin": "magento-1.6.4"});
window.criteo_q.push({"event": "setAccount", "account": "48663"}, {
    "event": "setEmail",
    "email": ""
}, {"event": "viewHome"});</script>
<script type="text/javascript">window.dataLayer = window.dataLayer || [];
window.dataLayer.push({
    "event": "crto_homepage", "crto": {"email": ""}
});</script>
<div class="footer4">
    <div class="baozhang">
        <div class="buy-logo"><img src="/public/static/home/img/buy-logo.png"></div>
        <div class="buy-p">
            <h3>買家保障</h3>
            <p><em></em>如果您未收到商品<b>全額退款！</b></p>
            <p><em></em>如果您購買的商品與描述不符，<b>全額或部分退款！</b></p>
        </div>
    </div>
    <div class="footmenu">

        <div class="footmenu-list">
            <ul class="f-list">
                <li>
                    <a href="/index.php/index/index/about">關於我們</a>
                    <a href="/index.php/index/index/service">服務條款</a>
                    <a href="/index.php/index/index/shipping">物流條款</a>
                    <a href="/index.php/index/index/tuihuo">退換貨政策</a>
                    <a href="/index.php/index/index/privacy">隱私協議</a>
                </li>
                <li>© 2017 <a href="/" title="">ceshi.com</a>. All rights reserved</li>
            </ul>
        </div>
    </div>
</div>
<ul class="rightmenu">
    <li id="go_top" style="display: none;"></li>
</ul>
<script>jQuery(document).ready(function () {
    jQuery("#go_top").hide();
    jQuery(window).scrollTop(0);
    jQuery(function () {
        var height = jQuery(window).height();
        jQuery(window).scroll(function () {
            if (jQuery(window).scrollTop() > height) {
                jQuery("#go_top").fadeIn(500);
            } else {
                jQuery("#go_top").fadeOut(500);
            }
        });
        jQuery("#go_top").click(function () {
            jQuery('body,html').animate({scrollTop: 0}, 100);
            return false;
        });
    });
});</script>


<iframe id="google_osd_static_frame_4446764417180" name="google_osd_static_frame"
        style="display: none; width: 0px; height: 0px;"></iframe>
<script>!function (win, doc, tag, src, app, ele, root) {
    if (win.wmkq) {
        return
    }
    app = win.wmkq = function () {
        app.invokeFunc ? app.invokeFunc.apply(app, arguments) : app.qu.push(arguments)
    };
    app.push = app;
    app.qu = [];
    ele = doc.createElement(tag);
    ele.async = true;
    ele.src = src;
    root = doc.getElementsByTagName(tag)[0];
    root ? root.parentNode.insertBefore(ele, root) : doc.getElementsByTagName("head")[0].appendChild(ele)
}(window, document, "script", "//pixeltrack.clientgear.com/mk228103936293371_v20180425.js?");</script>
<div id="criteo-tags-div" style="display: none;"></div>
</body>


</html>