{extend name="layout" /}
{block name="page-header"}<title>{$page_title|default='3guys shop'}</title>{/block}
{block name="style"} {/block}

{block name="content"}
<div class="std">
    <p>
        <script type="text/javascript">var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 4,
            loop: true,
            paginationClickable: true,
            spaceBetween: 10,
            freeMode: true
        });</script>
    </p>
</div>

<div class="addWrap">
    <div class="swipe" id="mySwipes" style="visibility:visible;">
        <div class="swipe-wrap" style="width:3120px;">
            {volist name="one_list" id="vo" key="key"}
            <div data-index="{$key}" style="width: 780px; left: 0px;height: 400px; transition-duration: 300ms; transform: translate(0px, 0px) translateZ(0px);">
                <a href="/public/index.php/index/classify/index">
                    <img class="img-responsive" src="{$vo.pic|get_file_path}" alt="{$vo.name}">
                </a>
            </div>
            {/volist}
        </div>
    </div>

    <ul id="position">
        {volist name="one_list" id="vo" key="key"}
            {empty name="key"}
                <li class="cur"></li>
            {else/}
                <li></li>
            {/empty}
        {/volist}
    </ul>
</div>


<!--分类导航-->
<div class="static_nav">
    <div class="ind-nav" style="visibility:visible;">
        <ul class="li_nav">
            {volist name="cate_list" id="vo"}
                <li>
                    <a href="/index.php/index/classify/index/id/{$vo.id}">
                        <img class="img-responsive" src="{$vo.pic|get_file_path}"  alt="{$vo.title}">
                    </a>
                </li>
            {/volist}
        </ul>
    </div>
</div>
<!--分类导航-->

<div class="djs">
    {notempty name="two_1"}
    <div class="djstu1">
        <a href="/index.php/index/goods/index/id/{$two_1.id}">
            <img src="{$two_1.pic|get_file_path}" width="308" height="380">
        </a>
    </div>
    {/notempty}
    <div class="djstu2">
        {notempty name="two_2"}
        <div class="djs01">
            <a href="/index.php/index/goods/index/id/{$two_2.id}">
                <img src="{$two_2.pic|get_file_path}" width="308" height="190">
            </a>
        </div>
        {/notempty}
        {notempty name="two_3"}
        <div class="djs02">
            <a href="/index.php/index/goods/index/id/{$two_3.id}">
                <img src="{$two_3.pic|get_file_path}" width="308" height="190">
            </a>
        </div>
        {/notempty}
    </div>
</div>
<div class="cp_fl">
</div>
{notempty name="goods_list_one"}
<div class="newsale-title">
    <div class="newsale_r">
        限量搶購中
    </div>
</div>


<div class="clear"></div>
<div class="home_category_list">
    <ul class="prolist">
        {volist name="goods_list_one" id="vo"}
        <li>
            <div class="pro-tu">
                <a href="/index.php/index/goods/index/id/{$vo.id}">
                    <img  src="{$vo.pic|get_file_path}"    width="400" height="400" alt="{$vo.name}">
                </a>
            </div>
            <div class="pro-tex">
                <h3><a href="/index.php/index/goods/index/id/{$vo.id}">{$vo.name}</a></h3>
                <div class="p3">
                    <span class="newprice">NT$ {$vo.z_price}</span>
                    <span class="oldprice">NT$ {$vo.price}</span>
                </div>
            </div>
        </li>
        {/volist}
    </ul>
    <div class="clear"></div>
</div>
{/notempty}

{notempty name="goods_list_two"}
<div class="hsale-title">
    <div class="timer" id="timer">
        <span>倒数</span>
        <span id="h" class="timerk">22</span>:<span id="m" class="timerk">43</span>:
        <span  id="s" class="timerk">10</span>结束
    </div>
</div>
<div class="clear"></div>
<div class="home_category_list">
    <ul class="prolist">
        {volist name="goods_list_two" id="vo"}
        <li>
            <div class="pro-tu">
                <a href="/index.php/index/goods/index/id/{$vo.id}">
                    <img  src="{$vo.pic|get_file_path}" width="400" height="400" alt="{$vo.name}">
                </a>
            </div>
            <div class="pro-tex">
                <h3><a href="/index.php/index/goods/index/id/{$vo.id}">{$vo.name}</a></h3>
                <div class="p3">
                    <span class="newprice">NT$ {$vo.z_price}</span>
                    <span class="oldprice">NT$ {$vo.price}</span>
                </div>
            </div>
        </li>
        {/volist}
    </ul>
    <div class="clear"></div>
</div>
{/notempty}


<div class="cp_fl">
</div>
{notempty name="goods_list_three"}
<div class="hotsale-title">
    <div class="hotsale_r">
        挑戰最低價
    </div>
</div>
<div class="home_category_list" id="descDiv">
    <ul class="prolist">
        {volist name="goods_list_three" id="vo"}
        <li style="display: block;">
            <div class="pro-tu">
                <a href="/index.php/index/goods/index/id/{$vo.id}">
                    <img  src="{$vo.pic|get_file_path}" width="400" height="400" alt=""></a>
            </div>
            <div class="pro-tex">
                <div class="p3">
                    <span class="newprice">NT$ <i class="fprice">{$vo.z_price}</i></span>
                    <span class="oldprice">NT$ {$vo.price}</span>
                </div>
                <h3><a href="/index.php/index/goods/index/id/{$vo.id}">{$vo.name}</a></h3>
            </div>
        </li>
        {/volist}
    </ul>
    <div class="clear"></div>
</div>
{/notempty}
<div id="load" style="width:100%;text-algin:center;height:40px;padding:8px 0;">
    <img src="/public/static/home/img/loading.gif" style="width: auto; margin: 0px auto; display: none;">
</div>

{/block}
{block name="script"}
<script>
    jQuery(document).ready(function () {

        var state = true;
        var linum = jQuery("#descDiv ul li").length;
        jQuery("#descDiv ul li:lt(4)").show();
        jQuery(window).scroll(function () {
            var scrot = jQuery(document).scrollTop() + 100;
            if (scrot >= jQuery(document).height() - jQuery(window).height()) {
                if (state == true) {
                    state = false;
                    jQuery("#load img").css("display", "block");
                    setTimeout(function () {
                        jQuery("#load img").css("display", "none");
                        var lilen = jQuery("#descDiv ul li:visible").length;
                        var lilent = lilen + 4;
                        jQuery("#descDiv ul li:lt(" + lilent + ")").show();
                        if (lilent >= linum) {
                            jQuery("#load").html("<p style='text-align:center;line-height:30px;font-size:14px;'>已經到最底端了</p>").css({"margin-top": "1px"});
                        } else {
                            state = true;
                        }
                    }, 1000);
                }
            }
        });
    });

    var bullets = document.getElementById('position').getElementsByTagName('li');
    var banner = Swipe(document.getElementById('mySwipes'), {
        auto: 4000,
        continuous: true,
        disableScroll: false,
        callback: function (pos) {
            var i = bullets.length;
            while (i--) {
                bullets[i].className = ' ';
            }
            bullets[pos].className = 'cur';
        }
    })</script>
{/block}

