<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="320" name="MobileOptimized">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/public/static/home/css/active.css">
    <link rel="stylesheet" href="/public/static/home/css/detailv3.css">
    <link href="/public/static/home/css/styles.css" rel="stylesheet">
    <link href="img/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="/public/static/home/css/myl.css">
    <title>{$info.name}</title>
    <meta name="keywords" content="{$info.name}">
    <meta name="description" content="{$info.name}">
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script src="/public/static/home/js/jquery.js"></script>
    <script src="/public/static/home/js/time.lesser.js"></script>
    <style>
        ::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: rgba(241, 241, 242, 1);
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background-color: #F90;
            border-radius: 10px;
            background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .5)
            25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, .5) 75%, transparent 75%, transparent )
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(144, 24, 53, 0.8);
        }
    </style>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1686555304707949'); // Insert your pixel ID here.
        fbq('track', 'PageView');
        fbq('track', 'ViewContent');
    </script>
    <noscript>&lt;img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1686555304707949&amp;ev=PageView&amp;noscript=1"
        /&gt;</noscript>
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '373453946408103'); // Insert your pixel ID here.
        fbq('track', 'PageView');
        fbq('track', 'ViewContent');
    </script>
    <noscript>&lt;img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=373453946408103&amp;ev=PageView&amp;noscript=1"
        /&gt;</noscript>

    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    <!-- Facebook Pixel Code -->

    <!-- End Facebook Pixel Code -->
</head>
<body>
<div class="mod_bar" id="header_normal" style="position: fixed; top: 0; overflow: hidden; width: 100%; margin: 0 auto; z-index: 12509; left: 0; height: 47px; line-height: 47px;">
    <div class="mod_bar_tit">
        {$info.name}
    </div>
</div>
<br>
<br>
<div class="mod_slider" id="loopImgDiv">
    <div class="inner">
        <div class="pic_list" id="loopImgUl">
            <div id="mainPicDiv" style="padding: 4px; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);">
                <img width="100%" src="{$info.pic}">

            </div>
        </div>
    </div>
    <div class="bar_wrap">
    </div>
</div>
<div class="buy_area">
    <div class="buyinfo" id="buyinfoCount">
        <div class="inforContent">
            <div class="i-p-top">
                <span> {$info.name}</span>
                <br>
                <span class="acticePrice"><span></span>NT$  {$info.price}</span>
                <br>
                <span class="oldPrice">原價：<span>NT${$info.price}</span></span>
            </div>
            <div class="i-p-m buyinfo_post">
                <span class="flag1">限時搶購</span><span class="flag1">在綫支付</span><span class="flag1">免運費</span><span class="timeWrap"><span class="soldPart">已搶購 <span id="soldNum" style="color: #FF0000;">{$info.buy_num}</span>件</span></span>
            </div>
            <div id="here">
            </div>
            <div class="i-p-b">
                <div class="time-count" style="background-color: rgb(173, 20, 21); position: relative;">
                    <p class="time-count-bg" style="width: 20.42361111111111%; background-color: #d21f17; position: absolute; z-index: 99;">
                        <span class="loading" style="position: absolute; background-size: 100% 100%; left: 0; top: 0; background-position: center center; background-repeat: no-repeat;"></span>
                    </p>
                    <center>
                        <div id="remainTime_1" style="color: #FFFFFF;">
                            <span>00</span>天<span>02</span>小时<span>43</span>分<span>12</span>秒
                        </div>
                    </center>
                </div>
            </div>
            <div class="i-p-b">
                <div class="orderInf font-desc">
                    <font style="color: #FF0000;">
                        【官方店限時搶購】【原價NT${$info.price}】
                        【在綫支付】【促銷僅NT${$info.price}】。免運費+支持七天無理由退換貨！發現非正品，商家承擔來回運費！
                    </font>
                </div>
            </div>
            <div class="i-p-b" style="border: none;">
                <div style="float: left; width: 48%; height: 100%; text-align: center;">
                    <div>
                        <img src="/public/static/home/img/icon-post.svg" alt="" style="height: 20px; width: 8%"><span style="font-size: 10px;">免運費</span>
                    </div>
                </div>
                <div style="float: left; width: 48%; height: 100%; text-align: center;">
                    <div>
                        <img src="/public/static/home/img/icon-seven.svg" alt="" style="height: 20px; width: 8%"><span style="font-size: 10px;">7天無理由退換貨</span>
                    </div>
                </div>
            </div>
            <div class="btn">
                <a href="/public/index.php/index/goods/detail/id/{$info.id}" class="conbtn">立即搶購</a>
            </div>
        </div>
        <div id="order" class="order-now">
            <article class="ordercontent">
                <a name="js"></a>
                <div class="mod_tab_wrap">
                    <div class="mod_tab">
                        <span class="cur" id="tab1"><a href="#js" style="color: #FF0000;">商品介紹</a></span><span class="" id="tab2"><a href="#cs">商品參數</a></span><span class="" id="tab3"><a href="#pl">評價(<em id="evalNum">10</em>)</a></span>
                    </div>
                </div>
                <div class="detail_info_wrap" style="border-top: 0px;">
                    <div class="detail_list" id="detailCont">

                        <div class="detail_item p_desc" id="detail_tab1" style="padding: 4px 4px;">
                            <div id="commDesc" class="detail_pc">
                                <!-- 商品介绍 开始-->
                                <div class="detail_con">
                                    {$info.content}

                                </div>
                                <!-- 商品介绍 结束-->
                            </div>
                        </div>
                        <a name="cs"></a>

                        <div class="mod_tab_wrap">
                            <div class="mod_tab">
                                <span class="" id="tab1"><a href="#js">商品介绍</a></span>
                                <span class="cur" id="tab2"><a href="#cs" style="color: #FF0000;">商品參數</a></span>
                                <span class="" id="tab3"><a href="#pl">評價(<em id="evalNum">10</em>)</a></span>
                            </div>
                        </div>
                        <!-- 商品参数 开始--><!-- 商品参数 结束-->
                        <a name="pl"></a><!-- 评论 結束-->
                        <div class="detail_item3" id="detail_tab3">
                            <article>
                                <h2>客戶評價</h2>
                                <div id="pingjia" class="pingjia">
                                    <ul class="allpj" id="allpj">
                                    <li class="le" style="height: 100px; display: list-item;">
                                        <span class="touxiang"></span><img class="lj" src="/public/static/home/img/l.png">
                                        <section class="l">真的非常好，穿著很大氣
                                            <div></div>
                                        </section>
                                    </li><li class="ri" style="height: 100px; display: list-item;">
                                        <section class="r">這款料子還可以，還沒有穿，摸起來很舒服
                                            <div></div>
                                        </section>
                                        <img class="lj" src="/public/static/home/img/r.png"><span class="touxiang"></span>
                                    </li><li class="le" style="height: 100px; display: list-item;">
                                        <span class="touxiang"></span><img class="lj" src="/public/static/home/img/l.png">
                                        <section class="l">質量不錯，價格合理，穿上很舒服
                                            <div></div>
                                        </section>
                                    </li><li class="ri" style="height: 100px; display: list-item;">
                                        <section class="r">穿了幾次，質量還行，好
                                            <div></div>
                                        </section>
                                        <img class="lj" src="/public/static/home/img/r.png"><span class="touxiang"></span>
                                    </li><li class="le" style="height: 100px; display: list-item;">
                                        <span class="touxiang"></span><img class="lj" src="/public/static/home/img/l.png">
                                        <section class="l">不錯的壹件衣服 媽媽很喜歡
                                            <div></div>
                                        </section>
                                    </li><li class="ri" style="height: 100px; display: list-item;">
                                        <section class="r">衣服不錯，很喜歡，下次還來買
                                            <div></div>
                                        </section>
                                        <img class="lj" src="/public/static/home/img/r.png"><span class="touxiang"></span>
                                    </li><li class="le" style="height: 100px; display: list-item;">
                                        <span class="touxiang"></span><img class="lj" src="/public/static/home/img/l.png">
                                        <section class="l">我媽很滿意
                                            <div></div>
                                        </section>
                                    </li><li class="ri" style="height: 100px; display: list-item;">
                                        <section class="r">樣式做工很好，面料柔軟舒服上身效果不錯，顏色比圖片深，滿意
                                            <div></div>
                                        </section>
                                        <img class="lj" src="/public/static/home/img/r.png"><span class="touxiang"></span>
                                    </li><li class="le" style="height: 100px; display: list-item;">
                                        <span class="touxiang"></span><img class="lj" src="/public/static/home/img/l.png">
                                        <section class="l">這衣服蠻喜歡的，價格又實惠，蠻好看的
                                            <div></div>
                                        </section>
                                    </li><li class="ri" style="height: 100px; display: list-item;">
                                        <section class="r">收到，非常滿意，衣服柔軟，穿上很舒服，衣服尺碼標準，下次還會再來
                                            <div></div>
                                        </section>
                                        <img class="lj" src="/public/static/home/img/r.png"><span class="touxiang"></span>
                                    </li>

                                    </ul>
                                </div>
                            </article>
                        </div>
                        <!-- 评论 結束 -->
                        <div id="desc detail-pic" class="page-item detail-item">
                            <h2 style="padding-left: 10px;">商品運送</h2>
                            <div style="clear: both">
                            </div>
                            <br style="clear: both">
                            <div class="content">
                                <div class="Notes copywriting">
                                    <ul>
                                        <li>免運費。</li>
                                        <li>在綫支付。</li>
                                        <li>我們所提供的產品配送區域僅限於臺灣本島<em>（外島地區的朋友請利用台灣親友地址做為收貨地址）</em>。</li>
                                        <li>这些配送地點需加收<em>NT$500運費</em>(<em>蘭嶼、澎湖、綠島、七星岩、崇明島、金門、媽祖、連江、小琉璃
                                        </em>)，其它地區不另收運費。</li>
                                    </ul>
                                </div>
                            </div>
                            <br style="clear: both">
                        </div>
                        <div>
                            <div>
                                <h1 style="color: #F00; font-size: 34px;">温馨提示</h1>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div id="buy" class="buy-now">
                            <article class="info" style="border:none;"> 溫馨提示：支持在綫支付+免郵費+七天無理由退換貨！
                                收到貨有任何疑問請聯繫我們在線客服! 也可隨時聯繫:
                                <a href="mailto:service.kf766@outlook.com">service.kf766@outlook.com</a>。同時請附上您的姓名及聯繫方式及訂單編號在郵件當中，以便我們能快速的給您及時處理，祝您購物愉快！！！
                                <br>
                                <br>
                            </article>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="copr">
            <ul>
                <li><a href="html/ys.html">隱私協議</a></li>
                <li><a href="html/a.html">服務條款</a></li>
                <li><a href="html/th.html">退換貨政策</a></li>
                <li class="nobor"><a href="html/bz.html">購物保障</a></li>
            </ul>
            <div class="clr">
            </div>
            <p>
                郵箱：service.kf766@outlook.com<br>

                <br>

            </p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<a name="order"></a>
<div style="position: fixed; bottom: 0; overflow: hidden; width: 100%; margin: 0 auto; z-index: 12509; left: 0">
    <a href="/public/index.php/index/goods/detail/id/{$info.id}" onclick="getUrl()" style="line-height: 45px; text-align: center; width: 100%; float: right; display: block; height: 45px; background-color: #DE2327; color: white">立即搶購</a>
</div>
<script type="text/javascript">
    $(function(){
        function scollDown(id,time){
            var liHeight=$("#"+id+" ul li").height();
            var time=time||2500;
            setInterval(function(){
                $("#"+id+" ul").prepend($("#"+id+" ul li:last").css("height","0px").animate({
                    height:liHeight+"px"
                },"slow"));
            },time);
        }
        scollDown("pingjia",3000);
        ///////////////////////////////
        //懒加载
        num = document.getElementsByTagName('img').length;
        img = document.getElementsByTagName("img");
        lazyload(true); //页面载入完毕加载可是区域内的图片
        window.addEventListener('scroll',throttle(lazyload,200,500));//采用了节流函数
    });
    ///////////////////////////////
    //主图视频
    sessionStorage.hb="NT$";
    var mUrl = "./product/59e5dd47302080mh.jpg";
    var ie = mUrl.lastIndexOf(".");
    var ku = mUrl.substring(ie+1);
    if(ku == "mp4"){
        var mpd = document.getElementById("mainPicDiv");
        if(mpd){
            mpd.innerHTML = '<video width="100%" height="100%" src="'+mUrl+'" loop="true" autoplay="true" controls="controls">';
        }
    }

    //懒加载
    var num;
    var img;
    var n = 0; //存储图片加载到的位置，避免每次都从第一张图片开始遍历
    function lazyload(m) { //监听页面滚动事件
        var seeHeight = document.documentElement.clientHeight; //可见区域高度
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop; //滚动条距离顶部高度
        var k = 0;
        for (var i = n; i < num; i++) {
            if (img[i].offsetTop < seeHeight + scrollTop) {
                if (img[i].getAttribute("src") == "./img/k.jpg") {
                    img[i].src = img[i].getAttribute("data-src");
                    k++;
                    if(m && k>=5) break;
                }
                //n = i + 1;
            }
        }
    }
    function throttle(fun, delay, time) {
        var timeout,startTime = new Date();
        return function() {
            var context = this,
                args = arguments,
                curTime = new Date();
            clearTimeout(timeout);
            // 如果达到了规定的触发时间间隔，触发 handler
            if (curTime - startTime >= time) {
                fun.apply(context, args);
                startTime = curTime;
                // 没达到触发间隔，重新设定定时器
            } else {
                timeout = setTimeout(function(){
                    fun.apply(context, args);
                }, delay);
            }
        };
    };
    ///////////////////////////////
</script>
<div style="display: none;">
</div>

</body></html>