{extend name="layout" /}
{block name="page-header"}<title>{$page_title|default='3guys shop'}</title>{/block}
{block name="style"}
{/block}
{block name="content"}
<div class="breadcrumbs">
    <a href="http://www.goodluck-3guys.com/" title="前往主頁">主頁</a>
    <span>》</span>
    服务条款
</div>

<div class="std">
    <span>&nbsp; &nbsp; &nbsp;&nbsp;<span>3guys shop 購物中心是超大型網路購物中心，專門為您提供各種產品最佳交易的網路購物中心。憑借高品質的服務和對客戶的長期承諾，3guys shop將繼續發展，同時為客戶提供最優質的產品，及時的出貨和卓越的客戶服務，為客戶量身打造新的目標。</span></span>
    <p><span></span><span style="font-size: large;">我們的倉庫</span></p>
    <p>
        <span>
        <img alt="我們的倉庫" src="/public/static/home/img/canku.jpg" style="vertical-align: middle;" title="倉庫">
    </span>
    </p>
    <p>
        <span>
        <img alt="我們的倉庫" src="/public/static/home/img/canku3.jpg" style="vertical-align: middle;" title="倉庫">
    </span>
    </p>
    <p>
        <span>
        <img alt="我們的倉庫" src="/public/static/home/img/canku1.jpg" style="vertical-align: middle;" title="倉庫">
    </span>
    </p>
</div>
{/block}

