{extend name="layout" /}
{block name="page-header"}<title>{$page_title|default='3guys shop'}</title>{/block}
{block name="style"}
{/block}
{block name="content"}
<div class="breadcrumbs">
    <a href="http://www.goodluck-3guys.com/" title="前往主頁">主頁</a>
    <span>》</span>
    退換貨政策
</div>


<div class="std"><p style="line-height: 26px; padding: 0 10px;">退換貨須知<br> 受理消費者的退換貨，七天內為退換貨保證期，若超過此期間視同驗收完成不得退換貨。<br> 若包裝或配件有毀損、遺失恕不受理退換貨。<br> 如您要退換貨，務必要在期限內與我們聯繫，以免不必要的誤會與糾紛。<br> 如商品非因瑕疵、變質欲辦理換貨事宜，須由消費者負擔來回運費。<br> 希望買賣能互信互諒，如對商品有任何不滿想表達意見，我們都非常樂意傾聽。<br> 若商品在運送途中產生瑕疵等狀況， 請收到商品後第一時間通知賣家， 並請將瑕疵商品寄回，賣家收到並確認瑕疵品後會快速將完好的新品寄出。<br> 如何申請退換貨<br> 1.由於個人原因產生的退換貨：至收到商品之日起7天內，在不影響二次銷售的情況下向售後服務中心發送郵件，售後客服會在收到郵件後的1-3個工作日內受理您的請求，退換貨所產生的運費需自行承擔。<br> 2.由於質量原因產生的退換貨：至收到商品之日起7天內，向售後服務中心發送郵件至service@3guys shop.tw，客服會在收到郵件後的1-3個工作日內受理 您的請求，退換貨所產生的運費由我方承擔。<br> 3.關於退貨：至收到商品之日起7天內，請直接聯繫快遞公司，快遞公司收到貨后，快遞公司將通知我方退款相關事項，我司將在15個工作內容完成退款流程。<br> 退換貨請註明：訂單號、姓名、電話，并向24小時在線客服獲取退換貨地址。<br> 如何取消訂單<br> 取消訂單需要向售後服務中心發送郵件并注明相关原因，邮件内容应註明您的訂單號、姓名、電話。<br> 收到商品後有任何疑問請聯繫在線客服或發郵件至service.goodluck-3guys@outlook.com,同時請告知您的姓名及聯繫方式及訂單編號，我們能快速的給您及時處理唷</p></div>
{/block}

