#cryozonic-stripe-accepted-cards img {
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	display: inline-block;
}
#cryozonic-stripe-accepted-cards.cryozonic-stripe-detected img {
	opacity: 0.3;
}
#cryozonic-stripe-accepted-cards.cryozonic-stripe-detected img.active {
	opacity: 1;
}

input#cryozonic_stripe_cc_number {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-position-x: 80%;
    -moz-transition: background-position-x 0.25s ease-in-out;
    -webkit-transition: background-position-x 0.25s ease-in-out;
    transition: background-position-x 0.25s ease-in-out;
}

input#cryozonic_stripe_cc_number.cctype-detected {
    background-position-x: 99%;
}

.adminhtml-sales-order-create-index #payment_form_cryozonic_stripe input[type="text"]
{
	width: 200px;
}

.dialog_content {
    background-color: #fff;
}
.img-preload {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
}