{extend name="layout" /}
{block name="page-header"}{/block}
{block name="style"}
<link rel="stylesheet" href="/public/static/libs/webuploader/webuploader.css?v=20180327">
<link rel="stylesheet" href="/public/static/admin/css/custom.css?v=20180327">

<script src="__LIBS__/ueditor/ueditor.config.js?v={:config('asset_version')}"></script>
<script src="__LIBS__/ueditor/ueditor.all.min.js?v={:config('asset_version')}"></script>


<style>
    .uploadify {
        border: 1px solid #5f4e42;
        height: 30px;
        line-height: 30px;
        position: relative;
        width: 120px;
        text-align: center;
        background: #00b7ee;
    }
    .uploadify .input-file {
        height: 30px;
        left: 0;
        margin-left: -5px;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 120px;
    }
    .file-item{
        float: left;
    }
    .pro-item{
        line-height: 34px;
    }
    .pro-title{
        float: left;
        margin-left: 5px;
        width: 80px;
    }
    .form-horizontal .item_pro {
        float: left;
        width: 240px;height: 330px;
        border: 1px solid #999;
        margin-left: 0px;
        margin-right: 5px;
    }
    .del_propery{
        float:right;margin-right: 20px;border: 1px solid #555;padding: 0 5px 0 5px;line-height: 30px;cursor: pointer;
    }
    .spec_content{
        float: left;
        width:48%;
        border:1px solid #999;
        margin:5px;
    }
    .spec_content .form-group,.push-20{
        margin: 5px;
    }
    .spec_value{
        width:200px;float:left;margin-right: 5px;margin-top: 5px;
    }
</style>
{/block}
{block name="content"}
<div class="row" style="">
    <div class="col-md-12" style="">
        <div class="block" style="">
            <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active">
                    <a href="#tab1">通用信息</a>
                </li>
                <li class="">
                    <a href="#tab2">商品描述</a>
                </li>
                <li class="">
                    <a href="#tab3">商品规格</a>
                </li>
                <li >
                    <a href="#tab4">商品属性</a>
                </li>
                <li>
                    <a href="#tab5">促销</a>
                </li>
                <li class="pull-right">
                    <ul class="block-options push-10-t push-10-r">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="close"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                </li>
            </ul>
            <form action="/public/admin.php/admin/goods/save.html" name="form-builder" method="post" class="form-horizontal form-builder" onsubmit="return check_from();">
                <div class="block-content tab-content" style="">
                    <div class="tab-pane fade push-20  active in" id="tab1">
                        <div class="form-group">
                            <input type="hidden" name="id" value="{$id}"/>
                            <label class="col-xs-12" for="title">商品名称</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="goods_name" name="name" value="{$info.name}" placeholder="请输入商品名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="title">SPU</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="spu" name="spu" value="{$info.spu}"  placeholder="请输入商品spu">
                            </div>
                        </div>

                        <div class="form-group" id="form_group_site_id">
                            <label class="col-xs-12" for="site_id">站点</label>
                            <div class="col-sm-9">
                                <select class="js-select2 form-control" id="site_id" name="site_id" data-allow-clear="true" data-placeholder="请选择">
                                    <option value="0">请选择</option>
                                    {volist name="site_list" id="v"}
                                    <option value="{$v.id}" {if ((string)$info.site_id == (string)$v.id)}selected{/if}>{$v.url|clear_js}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group" id="form_group_cid">
                            <label class="col-xs-12" for="cid">分类</label>
                            <div class="col-sm-9">
                                <select class="js-select2 form-control" id="cid" name="cid" data-allow-clear="true" data-placeholder="请选择">
                                    <option value="0">请选择</option>
                                    {volist name="cate_list" id="v"}
                                    <option value="{$v.id}" {if ((string)$info.cid == (string)$v.id)}selected{/if}>{$v.title|clear_js}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-12" for="title">负责人</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="principal" name="who" value="{$info.who}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="title">商品库存</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="goods_number" name="num" value="{$info.num}" placeholder="请输入商品库存">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-12" for="title">自定义内容</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="custom_content" name="remark" value="{$info.remark}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="title">活动倒计时</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="countdown" name="dao_time" value="{$info.dao_time}">
                                <div class="help-block">小时 <span style="color:red;">（请填写整数）</span></div>
                            </div>
                        </div>
                        <div id="form_group_status" class="form-group">
                            <div class="col-xs-6">
                                <label for="status" class="col-xs-12">上架状态</label>
                                <label class="css-input css-radio css-radio-primary  push-10-r">
                                    <input type="radio" name="status" id="status1" value="1"
                                           {eq name="info.status" value="1"}checked{/eq}>
                                    <span></span> 上架
                                </label>
                                <label class="css-input css-radio css-radio-primary  push-10-r">
                                    <input type="radio" name="status" id="status_2" value="0"
                                           {eq name="info.status" value="0"}checked{/eq}>
                                    <span></span> 下架
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <label class="col-xs-12">已搶購數量</label>
                                <input class="form-control"  type="number" id="click_count" name="buy_num" value="{$info.buy_num}">
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-xs-12" id="form_group_pics">
                                <label class="col-xs-12" for="pics">商品图片</label>
                                <div class="col-xs-12 js-upload-images">
                                    <div id="file_list_pics" class="uploader-list">
                                        {notempty name="info.pics"}
                                        {volist name="info.pics|explode=',',###" id="vo"}
                                        <div class="file-item thumbnail">
                                            <img data-original="{$vo|get_file_path}" src="{$vo|get_thumb}" width="100">
                                            <i class="fa fa-times-circle remove-picture" data-id="{$vo}"></i>
                                            <i class="fa fa-fw fa-arrows move-picture"></i>
                                        </div>
                                        {/volist}
                                        {/notempty}
                                    </div>
                                    <div class="clearfix"></div>
                                    <input type="hidden" name="pics" data-multiple="true" data-watermark='' data-thumb='' data-size="500000" data-ext='jpg,png,gif,jpeg' id="pic" value="{$info.pics|default=''}">
                                    <div id="picker_pics">上传图片</div>
                                </div>
                            </div>
                    </div>
                    <div class="tab-pane fade auth-node" id="tab2" style="">
                        <div class="form-group" style="">
                            <div class="form-group col-md-12 col-xs-12 " id="form_group_content">
                                <label class="col-xs-12" for="content">内容</label>
                                <div class="col-xs-12">
                                    <script id="content" class="js-ueditor" name="content" type="text/plain">{$info.content}</script>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade auth-node" id="tab3">
                        <div class="push-20">
                            <button class="btn btn-minw btn-primary add_spec_box" onclick="add_guige()" target-form="form-builder" type="button">
                                新增规格
                            </button>
                        </div>
                        <div class="spec_comtent_list" id="spec_comtent_list">
                            {volist name="spec_list" id="v"}
                            <div class="spec_content">
                                <div class="form-group">
                                    <label class="col-xs-12" for="title">规格名称</label>
                                    <div class="col-sm-9">
                                        <input class="form-control spec_name" name="spec_name" type="text" value="{$v.name}" placeholder="请输入规格名称">
                                    </div>
                                    <button class="btn del_spec_box" target-form="form-builder" type="button" onclick="del_guige(this);">
                                        删除
                                    </button>
                                </div>
                                <div class="col-xs-12 push-20">
                                    <button class="btn btn-minw btn-primary add_spec" onclick="add_spec(this);" target-form="form-builder" type="button">
                                        新增规格值
                                    </button>
                                </div>
                                <div class="form-group col-xs-12">
                                    <div class="spec_box">
                                        {volist name="v.s_list" id="item"}
                                        <input class="form-control spec_value" type="text" value="{$item}" name="spec_one" placeholder="双击删除" ondblclick="del_spec(this);">
                                        {/volist}
                                    </div>
                                </div>
                            </div>
                            {/volist}
                        </div>
                        <div style="clear:both;"> </div>
                    </div>
                    <div class="tab-pane fade auth-node" id="tab4">
                        <div class="push-20">
                            <button class="btn btn-minw btn-primary add_property"
                                    target-form="form-builder" type="button" onclick="add_shuxing()">
                                新增属性
                            </button>
                        </div>
                        <div class="property_box" id="property_box">
                            {volist name="shuxing_list" id="v"}
                            <div class="form-group item_pro">
                                <div class="pro-item">
                                    <span class="pro-title">属性名称：</span>
                                    <input class="form-control pro_name"  type="text" value="{$v.sx_name}" name="sx_name" style="width:150px;margin-top: 5px;">
                                    <span class="pro-title">原价：</span>
                                    <input class="form-control pro_price" type="text" value="{$v.sx_price}" name="sx_price" style="width:150px;margin-top: 5px;">
                                    <span class="pro-title">折扣价：</span>
                                    <input class="form-control pro_z_price" type="text" value="{$v.sx_zhekou}"  name="sx_zhekou" style="width:150px;margin-top: 5px;">
                                    <span class="pro-title">SKU：</span>
                                    <input class="form-control pro_sku" type="text"  value="{$v.sx_sku}" name="sx_sku" style="width:150px;margin-top: 5px;">
                                    <div style="width:140px;height:130px;margin-left:50px;margin-top: 5px;">
                                        <div class="file_list_avatar uploader-list">
                                            <div class="file-item js-gallery thumbnail" style="float:left">
                                                <a class="img-link" href="{$v.sx_pic|get_file_path}">
                                                    <img src="{$v.sx_pic|get_file_path}" style="width:120px;height:100px;">
                                                </a>
                                                <i class="fa fa-times-circle remove-picture"  onclick="remove_property_img(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 40px;margin-top: 5px;">
                                        <div class="del_propery" onclick="del_shuxing(this);">删除属性</div>
                                        <input type="hidden" value="3" name="sx_pic" class="cover_id" data-ext="gif,jpg,jpeg,bmp,png" data-size="0" data-multiple="false">
                                        <div class="">
                                            <div class="uploadify-button uploadify" style="width:80px;">
                                                <span class="uploadify-button-text">上传图片</span>
                                                <input class="uploadone input-file" onchange="upload_item(this);" style="width:80px;" type="file" name="file" data-url="/admin.php/admin/attachment/uploadgoods/dir/images/module/goods/upload_path/property.html" multiple="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/volist}
                        </div>
                        <div style="clear:both;"> </div>
                    </div>
                    <div class="tab-pane fade auth-node" id="tab5">
                        <div class="form-group">
                            <label class="col-xs-12" for="title">促销活动</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="prom_type" name="prom_type" onchange="sel_cuxiao(this);">
                                    <option value="0" selected="">普通商品</option>
                                    <option value="1" {eq name="info.prom_type" value="1"}selected{/eq}>促销买送</option>
                                    <option value="2" {eq name="info.prom_type" value="2"}selected{/eq}>促销满减</option>
                                    <option value="3" {eq name="info.prom_type" value="3"}selected{/eq}>阶梯折扣</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" id="prom_id" name="prom_id">
                                    <option value="0">请选择</option>
                                    {volist name="info.prom_id_list" id="v"}
                                    <option value="{$v.id}" {eq name="v.id" value="$info.prom_id"}selected{/eq}>{$v.title}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="push-20">
                        <button class="btn btn-minw btn-primary ajax-post submi_btn" target-form="form-builder" onclick="check_from();"  type="button">
                            确定
                        </button>
                        <button class="btn btn-minw btn-primary ajax-post submi_btn" target-form="form-builder" id="save_btn" type="submit" style="display: none;">
                            确定
                        </button>
                        <button class="btn btn-default" type="button" onclick="javascript:history.back(-1);return false;">
                            返回
                        </button>
                        <input type="hidden" name="pic" value="{$info.pic}">
                        <input type="hidden" name="price" id="g_price" value="{$info.price}">
                        <input type="hidden" name="z_price" id="g_z_price" value="{$info.z_price}">
                        <input type="hidden" name="spec" id="h_spec" value="{$info.spec}">
                        <input type="hidden" name="shuxing" id="h_shuxing"  value="{$info.shuxing}">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div id="hide_div" style="display: none;">
    <div class="spec_content">
        <div class="form-group">
            <label class="col-xs-12" for="title">规格名称</label>
            <div class="col-sm-9">
                <input class="form-control spec_name" name="spec_name" type="text" value="" placeholder="请输入规格名称">
            </div>
            <button class="btn del_spec_box" target-form="form-builder" type="button" onclick="del_guige(this);">
                删除
            </button>
        </div>
        <div class="col-xs-12 push-20">
            <button class="btn btn-minw btn-primary add_spec" onclick="add_spec(this);" target-form="form-builder" type="button">
                新增规格值
            </button>
            <input type="hidden" value="0" name="gg_pic" class="cover_id" data-ext="gif,jpg,jpeg,bmp,png" data-size="0" data-multiple="false">
            <input class="uploadone input-file" style="width:80px;" type="file" onchange="upload_item(this);" name="file" data-url="/admin.php/admin/attachment/uploadgoods/dir/images/module/goods/upload_path/property.html" multiple="">
        </div>

        <div class="form-group col-xs-12">
            <div class="spec_box">
                <input class="form-control spec_value" type="text" name="spec_one" placeholder="双击删除" ondblclick="del_spec(this);">
            </div>
        </div>
    </div>
</div>
<div id="shuxing_hide_div" style="display: none;">
    <div class="form-group item_pro">
        <div class="pro-item">
            <span class="pro-title">属性名称：</span>
            <input class="form-control pro_name"  type="text" name="sx_name" style="width:150px;margin-top: 5px;">
            <span class="pro-title">原价：</span>
            <input class="form-control pro_price" type="text" name="sx_price" style="width:150px;margin-top: 5px;">
            <span class="pro-title">折扣价：</span>
            <input class="form-control pro_z_price" type="text" name="sx_zhekou" style="width:150px;margin-top: 5px;">
            <span class="pro-title">SKU：</span>
            <input class="form-control pro_sku" type="text" value="" name="sx_sku" style="width:150px;margin-top: 5px;">
            <div style="width:140px;height:130px;margin-left:50px;margin-top: 5px;">
                <div class="file_list_avatar uploader-list">
                    <div class="file-item js-gallery thumbnail" style="float:left">
                        <a class="img-link" href="">
                            <img src="/public/uploads/images/20180502/e121ac4fe89022630c5d173e8190c63d.jpg" style="width:120px;height:100px;">
                        </a>
                        <i class="fa fa-times-circle remove-picture"  onclick="remove_property_img(this)"></i>
                    </div>
                </div>
            </div>
            <div style="margin-left: 40px;margin-top: 5px;">
                <div class="del_propery" onclick="del_shuxing(this);">删除属性</div>
                <input type="hidden" value="3" name="sx_pic" class="cover_id" data-ext="gif,jpg,jpeg,bmp,png" data-size="0" data-multiple="false">
                <div class="">
                    <div class="uploadify-button uploadify" style="width:80px;">
                        <span class="uploadify-button-text">上传图片</span>
                        <input class="uploadone input-file" onchange="upload_item(this);" style="width:80px;" type="file" name="file" data-url="/public/admin.php/admin/attachment/uploadgoods/dir/images/module/goods/upload_path/property.html" multiple="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    // url
    var dolphin = {
        'top_menu_url': '/public/admin.php/admin/ajax/getsidebarmenu.html',
        'theme_url': '/public/admin.php/admin/ajax/settheme.html',
        'jcrop_upload_url': '/public/admin.php/admin/attachment/upload/dir/images/from/jcrop/module/admin.html',
        'editormd_upload_url': '/public/admin.php/admin/attachment/upload/dir/images/from/editormd/module/admin.html',
        'editormd_mudule_path': '/public/static/libs/editormd/lib/',
        'ueditor_upload_url': '/public/admin.php/admin/attachment/upload/dir/images/from/ueditor/module/admin.html',
        'wangeditor_upload_url': '/public/admin.php/admin/attachment/upload/dir/images/from/wangeditor/module/admin.html',
        'wangeditor_emotions': "/public/static/libs/wang-editor/emotions.data",
        'ckeditor_img_upload_url': '/public/admin.php/admin/attachment/upload/dir/images/from/ckeditor/module/admin.html',
        'WebUploader_swf': '/public/static/libs/webuploader/Uploader.swf',
        'file_upload_url': '/public/admin.php/admin/attachment/upload/dir/files/module/admin.html',
        'image_upload_url': '/public/admin.php/admin/attachment/upload/dir/images/module/admin.html',
        'upload_check_url': '/public/admin.php/admin/ajax/check.html',
        'get_level_data': '/public/admin.php/admin/ajax/getleveldata.html',
        'quick_edit_url': '/public/admin.php/admin/goods/quickedit.html',
        'aside_edit_url': '/public/admin.php/admin/system/quickedit.html',
        'triggers': [], // 触发器集合
        'field_hide': '', // 需要隐藏的字段
        'field_values': '',
        'validate': '', // 验证器
        'validate_fields': '', // 验证字段
        'search_field': '', // 搜索字段
        // 字段过滤
        '_filter': '',
        '_filter_content': '',
        '_field_display': '',
        '_field_clear': [],
        'get_filter_list': '/public/admin.php/admin/ajax/getfilterlist.html',
        'curr_url': '/public/admin.php/admin/goods/edit/id/11/group/tab4.html',
        'curr_params': {"id":"11","group":"tab4"},
        'layer': {"type":2,"area":["80%","90%"],"shadeClose":true,"isOutAnim":false,"anim":-1}        };
</script>
<script src="/public/static/libs/layer/layer.js?v=20180327"></script>
<script src="/public/static/libs/select2/select2.full.min.js?v=20180327"></script>
<script src="/public/static/libs/select2/i18n/zh-CN.js?v=20180327"></script>
<script src="/public/static/libs/webuploader/webuploader.min.js?v=20180327"></script>
<script src="http://www.ceshi.com/public/static/libs/ueditor/lang/zh-cn/zh-cn.js" type="text/javascript" defer="defer"></script>
<link href="/public/static/libs/ueditor/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
<script src="/public/static/libs/ueditor/third-party/codemirror/codemirror.js" type="text/javascript" defer="defer"></script>
<link rel="stylesheet" type="text/css" href="/public/static/libs/ueditor/third-party/codemirror/codemirror.css">
<script src="/public/static/libs/ueditor/third-party/zeroclipboard/ZeroClipboard.js" type="text/javascript" defer="defer"></script>
<script>
    $(document).ready(function () {

    });

    //方式一 Jquery实现
    function upload_item(e) {
        var formData = new FormData();
        formData.append('file', $(e)[0]);
        $.ajax({
            url: "/public/admin.php/admin/goods/upload/",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            mimeType: "multipart/form-data",
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
    function check_from() {
        var spec = $('#h_spec');
        var shuxing = $('#h_shuxing');
        var new_spec = '';
        var new_shuxing = '';
        $('#spec_comtent_list').find(".spec_content").each(function () {
            var sepc_one = '';
            var t = $(this);
            t.find('input[name="spec_one"]').each(function () {
                sepc_one+=$(this).val()+'|'
            });
            new_spec +=t.find('input[name="spec_name"]').val()+'#'+sepc_one+';';
        });
        var low_price =0.0;
        var low_z_price =0.0;
        $('#property_box').find(".item_pro").each(function () {
            var t = $(this);
            var sx_price = parseFloat(t.find('input[name="sx_price"]').val());
            var sx_zhekou = parseFloat(t.find('input[name="sx_zhekou"]').val());
            if(low_price<sx_price&&sx_price>0){
                low_price = sx_price;
            }
            if(low_z_price<sx_zhekou&&sx_zhekou>0){
                low_z_price = sx_zhekou;
            }
            new_shuxing +=t.find('input[name="sx_name"]').val()+'|'+sx_price+'|'+sx_zhekou+'|'+t.find('input[name="sx_sku"]').val()+'|'+t.find('input[name="sx_pic"]').val()+';';
        });
        shuxing.val(new_shuxing);
        spec.val(new_spec);
        $('#g_price').val(low_price);
        $('#g_z_price').val(low_z_price);
        if(spec.val()==''){
            alert('请填写规格1');
            return false;
        }
        if(shuxing.val()==''){
            alert('请填写商品属性1');
            return false;
        }
        $('#save_btn').click();

    }
    function sel_cuxiao(e) {
        var val = $(e).val();
        $.post('/public/admin.php/admin/cuxiao/guige',{id:val},function (d) {
            $('#prom_id').html(d);
        });
    }
    function add_guige() {
        var item = $( $('#hide_div').html());
        item.appendTo($('#spec_comtent_list'));
    }

    function del_guige(e) {
        $(e).parent().parent().remove();
    }
    function add_spec(e) {
        var item = $('<input class="form-control spec_value" type="text"  name="spec_one" placeholder="双击删除" ondblclick="del_spec(this);">');
        $(e).parent().next().find('.spec_box').append(item);
    }

    function del_spec(e) {
        $(e).remove();
        return false;
    }

    function remove_property_img(e) {

    }
    function del_shuxing(e) {
        $(e).parent().parent().parent().remove();
        return false;
    }

    function add_shuxing() {
        $($('#shuxing_hide_div').html()).appendTo($('#property_box'));
    }



</script>
{/block}