<div class="am-padding am-text-lg am-padding-bottom-0">
    {$info.money}元
</div>
<div class="dux-box">
    <form class="am-form dux-form dux-form-right" action="{url('')}">
        <div class="am-input-group">
            <span class="am-input-group-label">账户姓名</span>
            <div class="am-form-content">{$info['account_name']}</div>
        </div>
    <div class="am-input-group">
        <span class="am-input-group-label">提现银行卡</span>
        <div class="am-form-content"><img src="__PUBLIC__/member/images/blank/{$info['bank_label']}.png" width="16" height="16px"> {$info['bank']} (尾号{$info.account})</div>
    </div>
    </form>
</div>
<div class="dux-box ">
    <div class="am-form dux-form dux-form-right">
        <div class="am-input-group">
            <span class="am-input-group-label">提现状态</span>
            <div class="am-form-content">{$info.show_status}</div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">流水号</span>
            <div class="am-form-content">{$info.cash_no}</div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">提现手续费</span>
            <div class="am-form-content">{$info.money_tax}元</div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">提交时间</span>
            <div class="am-form-content">{date('Y-m-d H:i:s', $info.create_time)}</div>
        </div>
        <!--if{$info['status'] == 2}-->
        <div class="am-input-group">
            <span class="am-input-group-label">完成时间</span>
            <div class="am-form-content">{date('Y-m-d H:i', $info.complete_time)}</div>
        </div>
        <!--{/if}-->
        <!--if{$info['status'] == 0}-->
        <div class="am-input-group">
            <span class="am-input-group-label">审核备注</span>
            <div class="am-form-content">{$info.auth_remark ? $info.auth_remark : '无'}</div>
        </div>
        <div class="am-input-group">
            <span class="am-input-group-label">审核时间</span>
            <div class="am-form-content">{date('Y-m-d H:i', $info.auth_time)}</div>
        </div>
        <!--{/if}-->
    </div>
</div>

<br>