<div data-dux="table-bind">
    <div class="dux-page-header am-cf">
        <div class="page-title">
            <form class="am-form-inline" method="get" action="{url()}">
                <div class="am-form-group">
                    <input type="text" name="keyword" class="am-form-field" value="{$pageMaps.keyword}" placeholder="手机号">
                </div>
                <div class="am-form-group">
                    <input type="text" name="cash_no" class="am-form-field" value="{$pageMaps.cash_no}" placeholder="流水号">
                </div>
                <div class="am-form-group">
                    <select class="am-form-field" name="status">
                        <option value="3">全部</option>
                        <option value="0" <!--if{$pageMaps.status =='0'}-->selected <!--{/if}-->>已拒绝</option>
                        <option value="1" <!--if{$pageMaps.status == 1}-->selected <!--{/if}-->>待处理</option>
                        <option value="2" <!--if{$pageMaps.status == 2}-->selected <!--{/if}-->>已完成</option>
                    </select>
                    </div>
                <div class="am-form-group">
                    <button type="submit" class="am-btn am-btn-primary am-icon-search"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="dux-page-table">
        <table class="am-table dux-table" data-table>
            <thead>
            <tr>
                <th width="100">#</th>
                <th>流水号</th>
                <th>提现金额</th>
                <th>用户</th>
                <th>状态</th>
                <th width="200">提交时间</th>
            </tr>
            </thead>
            <tbody>
            <!--loop{$list as $vo}-->
            <tr>
                <th>{$vo.cash_id}</th>
                <td><a href="{url('info', ['id'=>$vo.cash_id])}">{$vo.cash_no}</a></td>
                <th class="am-text-danger">{$vo.money}</th>
                <td><a href="{url('sale/User/index', ['username' => $vo.user_tel])}">{$vo.show_name}</a></td>
                <!--if{$vo.status == 0}-->
                <td class="am-text-danger">已拒绝</td>
                <!--{/if}-->
                <!--if{$vo.status == 1}-->
                <td class="am-text-warning">待处理</td>
                <!--{/if}-->
                <!--if{$vo.status == 2}-->
                <td class="am-text-success">已完成</td>
                <!--{/if}-->

                <td>{date('Y-m-d H:i:s', $vo.create_time)}</td>
            </tr>
            <!--{/loop}-->
            <!--if{empty($list)}-->
            <tr>
                <td colspan="6" class="am-text-center">暂无交易记录</td>
            </tr>
            <!--{/if}-->
            </tbody>
        </table>
    </div>
    <div class="dux-page-foot am-cf">
        {$page}
    </div>
</div>