<div class="dux-page">
    <div class="page-header">
        账户充值
    </div>
    <div class="page-box">
        <div class="dux-box am-padding am-text-center">
            <h1 class="am-text-danger">{$name}</h1>
            <p>{$desc}</p>

            <div class="am-padding">
                <a class="am-btn am-btn-danger " href="{url('member/Finance/index')}">账户余额</a>
                <a class="am-btn am-btn-default " href="{url('member/Index/index')}">返回首页</a>
            </div>
        </div>


    </div>
</div>
