<form class="am-form dux-form" action="{url('password')}" method="post" data-dux="form-bind" data-advanced="false">
    <div class="am-input-group">
        <span class="am-input-group-label">原始密码</span>
        <input type="password" class="am-form-field" name="old_password" placeholder="请输入原始密码">
    </div>
    <div class="am-input-group">
        <span class="am-input-group-label">新设密码</span>
        <input type="password" class="am-form-field" name="password" placeholder="请输入新密码">
    </div>
    <div class="am-input-group">
        <span class="am-input-group-label">重复密码</span>
        <input type="password" class="am-form-field" name="password2" placeholder="请重复新密码">
    </div>
    <div class="am-padding">
        <button class="am-btn am-btn-primary am-btn-block" type="submit">保存资料</button>
    </div>
</form>