
<div class="dux-box">
    <div class="box-header am-cf">我的收藏</div>
    <!--if{$pageList}-->
    <div class="dux-pro-list">
        <ul class=" am-cf">
            <!--loop{$pageList as $key => $vo}-->
            <li class="dux-pro-item">
                <a href="{url($vo['app'].'info/index', ['id' => $vo['has_id']])}">
                    <div class="img">
                        <img src="{$vo.image}" alt="{$vo.title}">
                    </div>
                    <div class="title">{$vo.title}</div>
                    <div class="price">¥{$vo.price}</div>
                </a>
            </li>
            <!--{/loop}-->
        </ul>
    </div>
    <!--{else}-->
    <div class="am-text-center am-padding">收藏夹暂无商品</div>
    <!--{/if}-->
</div>

<div class="dux-pages">
    {$page}
</div>