<div class="dux-page-header am-cf">
    <div class="page-title">
        <a class="am-btn am-btn-primary" href="{url('index')}"> 支付记录</a>
    </div>
    <div class="page-action">
        <a class="am-btn am-btn-danger" href="javascript:location.reload();"><i class="am-icon-refresh"></i></a>
    </div>
</div>
<div class="dux-body">
    <div class="am-panel am-panel-default dux-panel">
        <div class="am-panel-hd">支付详情</div>
        <div class="am-panel-bd">
            <form class="am-form  am-form-horizontal dux-form" data-dux="form-bind" method="post">
                <fieldset>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">支付金额: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">
                                <!--if{$info.type}-->
                                <span class="am-text-success">+{$info.money}</span>
                                <!--{else}-->
                                <span class="am-text-danger">-{$info.money}</span>
                                <!--{/if}-->
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">交易类型: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">
                                <!--if{$info.type}-->
                                <span class="am-text-success">收入</span>
                                <!--{else}-->
                                <span class="am-text-danger">支出</span>
                                <!--{/if}-->
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">交易状态: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">
                                <!--if{!$info.status}-->
                                已关闭
                                <!--{else}-->
                                <span class="am-text-success">已完成</span>
                                <!--{/if}-->
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">支付时间: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content am-text-warning">{date('Y-m-d H:i:s', $info.time)}</div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">流水号: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">{$info.log_no}</div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">支付备注: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">{$info.remark ? $info.remark : '无'}</div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">支付用户: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content"><a href="{url('member/PayAccount/index', ['keyword' => $vo.user_tel])}">{$info.user_nickname} ({$info.user_tel})</a></div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">支付方式: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">{$info.pay_name}</div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">支付号: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">{$info.pay_no}</div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">支付来源: </label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">
                                <!--if{$info.source_value}-->
                                <a href="{$info.source_url}">{$info.source_value}</a>
                                <!--{else}-->
                                无
                                <!--{/if}-->
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
