<div class="dux-page-header am-cf">
    <div class="page-title">
        <a class="am-btn am-btn-primary" href="{url('index')}"> 账户列表</a>
    </div>
    <div class="page-action">
        <a class="am-btn am-btn-danger" href="javascript:location.reload();"><i class="am-icon-refresh"></i></a>
    </div>
</div>

<div class="dux-body">
    <div class="am-panel am-panel-default dux-panel">
        <div class="am-panel-hd">资金操作</div>
        <div class="am-panel-bd">
            <form class="am-form  am-form-horizontal dux-form" data-dux="form-bind" method="post">
                <fieldset>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">用户</label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">{$info.show_name}</div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">账户余额</label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div class="dux-form-content">{$info.money}</div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">操作方式</label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <div>
                                <select name="type" data-am-selected="{btnWidth: '100%'}" required>
                                    <option value="0">扣除</option>
                                    <option value="1">充值</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">操作金额</label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <input type="text" name="money" placeholder="请输入操作金额,小数点后最多2位" pattern="^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$" required>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-md-2 am-u-sm-12 am-form-label">操作理由</label>
                        <div class="am-u-md-10 am-u-sm-12">
                            <textarea name="remark" placeholder="操作备注" required></textarea>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-offset-12 am-u-md-offset-2">
                            <input type="hidden" name="user_id" value="{$info.user_id}">
                            <button class="am-btn am-btn-primary" type="submit" disabled>确认操作</button>
                            <div class="am-form-help">操作账户后无法回退,请谨慎操作!</div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>