<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DuxSHOP安装向导</title>
    <link rel="stylesheet" href="__PUBLIC__/common/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/install/css/style.css">
    <script type="text/javascript" src="__PUBLIC__/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/common/js/amazeui.js"></script>
</head>
<body>
<div class="dux-body">
    <div class="dux-head">DuxSHOP通用商城系统 <span class="ver">{正式版}</span>
        <small>安装向导</small>
    </div>
    <div class="am-cf">
        <div class="dux-menu">
            <ul class="am-nav">
                <li class="am-active"><a href="#">1. 使用协议</a></li>
                <li><a href="#">2. 环境检测</a></li>
                <li><a href="#">3. 配置参数</a></li>
                <li><a href="#">4. 完成安装</a></li>
            </ul>
        </div>
        <div class="dux-main">
            <div class="am-progress">
                <div class="am-progress-bar" style="width: 33%">易用</div>
                <div class="am-progress-bar am-progress-bar-success" style="width: 34%">扩展</div>
                <div class="am-progress-bar am-progress-bar-warning" style="width: 33%">开源</div>
            </div>
            <h1 class="dux-title">
                DuxSHOP版权协议
            </h1>
            <div class="dux-content">
                1、您可以完全遵循本协议的情况下，将本软件用于商业用途，而不必支付软件的使用费用，但我们也不承诺对非商业用户提供任何形式的技术支持与帮助。<br>
                2、程序最终版权归原作者所有，免费使用本程序时需要您在网站底部明显部位注明：powered by duxshop，商业用户不必保留版权信息。<br>
                3、您可以免费使用本软件，但是禁止对软件进行改名发布、转卖或出售，禁止以任何形式对DuxSHOP造成利益冲突。<br>
                4、您可以对程序进行二次开发，但是二次开发后的软件也禁止公开发布，可以自己分配使用版权参考第四条。<br>
                5、如果您使用了DuxSHOP表示您默认了以上协议内容，如有问题请参考以上协议内容。
            </div>
            <div class="dux-fun am-cf">
                <a class="am-btn am-btn-danger am-fl" href="javascript:alert('您已拒绝安装协议,请自行关闭窗口!');">拒绝</a>
                <a class="am-btn am-btn-primary am-fr" href="{url('detect')}">同意</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>

</script>