.dux-coupon-list {
  li {
    margin-top:10px;
    padding: 10px;
  }
}

.dux-coupon-box {
  display: flex;
  height: 130px;
  overflow: hidden;
  .box-info {
    color: #fff;
    flex: 1;
    height: 130px;
    background: $color-main;
    padding: 10px 20px;
    position: relative;
    .line {
      position: absolute;
      width: 26px;
      height: 26px;
      left: -13px;
      top: 80px;
      background: #fff;
      border-radius: 50%;
    }
    .name {
      border-bottom:1px dotted #fff;
      padding: 5px 0;
      font-size:1.4rem;
      margin-bottom:10px;
    }
    .subname {
      height: 40px;
      overflow: hidden;
      margin-bottom:10px;
    }

    .progress {
      display: flex;
      .am-progress {
        margin-top:5px;
        flex: 1;
        background-color: rgba(0,0,0,.1);
        .am-progress-bar {
          background-color: rgba(255,255,255,.5);
        }
      }
      .tip {
        width: 60px;
        padding-left:10px;
        font-size:1.2rem;
      }

    }

  }
  .box-price {
    height: 130px;
    width: 140px;
    border-right: 2px solid $color-main;
    background: #fff;
    text-align: center;
    .money {
      color: $color-main;
      font-size:3rem;
      font-weight: bold;
      small {
        font-size:1.4rem;
        font-weight: normal;
      }
    }
    .tip {
      color: #999;
    }
    .btn {
      margin-top:10px;
      padding:  0 20px;
      a {
        display: block;
        line-height: 25px;
        border: 2px solid $color-main;
        text-align: center;
        font-size: 1.4rem;
        color: $color-main;
        &.disable {
          background: rgba(255,255,255,.5);
        }
      }
      margin-bottom:10px;
    }

  }
}