
.dux-index-layout {
  .layout-l {
    padding-right: 20px;

  }
  .layout-r {

  }

}

.dux-index-count {
  margin-top: 20px;
  li.am-u-sm-4 {
    padding-left: 20px;
    &:first-child {
      padding-left: 0;
    }
  }
  .item {
    background: #fff;
    padding: 10px;
    .icon {
      display: block;
      float: left;
      text-align: center;
      color: rgba(255,255,255,.8  );
      position: absolute;
      width: 50px;
      line-height: 50px;
      height: 50px;
      i {
        font-size: 40px;
      }
    }
    .info {
      margin-left: 70px;
      text-align: right;
      padding-right: 10px;
    }
    .name {
      font-size: 1.4rem;
      color: rgba(255, 255, 255, .7);
    }
    .count {
      font-size: 2rem;
      color: #fff;

    }
  }
  .item1 {
    background: #0e90d2;
    .icon {

    }
  }
  .item2 {
    background: #5eb95e;
    .icon {

    }
  }
  .item3 {
    background: #F37B1D;
    .icon {

    }
  }

}


.dux-index-side {
  background: url('../images/side.png') repeat-x;
  height: 5px;
}

.dux-index-show {
  background: #fff;
  padding: 0 10px;
  .show-head {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px 0;
  }
  dl {
    width: 50%;
    float: left;
    padding-bottom:10px;
    dt {
      float: left;
      width: 60px;
      font-weight: normal;
      color: #999;

    }
    dd {
      margin-left: 80px;

    }
  }
}


.dux-index-menu {
  text-align: center;
  a {
    color: #666;
    padding: 10px;
    display: block;
    &:hover {
      color: #333;
    }
  }
  i {
    position: relative;
    font-size: 3rem;
  }
  .name {
    font-size: 1.4rem;
    color: #666;
  }

  .am-badge {
    position: absolute;
    top: 2px;
    right: -15px;
    border-radius: 5px;
  }

}


.dux-index-calendar {
  .calendar-title {
    background: #e53142;
    color: #fff;
    font-size: 1.4rem;
    padding: 10px 20px;
    font-weight: bold;
  }
  .calendar-body {
    background: #fff;
    text-align: center;
    padding: 20px;
    color: $color-main;
    .day {
      font-size:5rem;
      font-weight: bold;
    }
    .info {
      font-size:1.4rem;
    }
  }

}
.dux-index-order {
  li {
    padding: 10px;
    border-bottom:1px solid #ddd;
    &:last-child{
      border: none;
    }
  }
  .img {
    float: left;
    width: 60px;
    img {
      width: 60px;
      height: 60px;
      padding: 5px;
      border: 1px solid #eee;
    }
  }
  .info {
    float: left;
    width: 450px;
    margin-left:10px;
    .title {
      font-size:1.4rem;
      overflow: hidden;
    }
    .price {
      font-size:1.2rem;
      color: #666;

    }
    .status{
      font-size:1.2rem;
      color: #666;

    }
  }
  .btn {
    float: right;
    width: 100px;
    text-align: right;
    .am-btn {
      font-size:1.2rem;
    }

  }

}

.dux-sidebar-pro {
  li {
    border-bottom:1px solid #ddd;
    &:last-child {
      border-bottom:none;
    }
  }
}