<div class="am-cf dux-pro-item">
    <div class="item-img">
        <a href="{url($orderInfo.order_app . '/order/info', ['order_no' => $orderInfo.order_no])}"><img
                src="{$info.goods_image}" alt="" width="70" height="70"></a>
    </div>
    <div class="item-info">
        <div class="title"><a href="{url($orderInfo.order_app . '/order/info', ['order_no' => $orderInfo.order_no])}">{$info.goods_name}</a></div>
        <p class="dux-text-disabled">
            <!--loop{(array)$info.goods_options as $v}-->
            {$v.value}
            <!--{/loop}-->
        </p>
        <p><span class="am-text-danger">￥{$info.goods_price}</span> × {$info.goods_qty}</p>
        <p class="dux-text-disabled">购买时间: {date('Y-m-d H:i', $orderInfo.order_create_time)}</p>
    </div>
</div>
<form class="dux-form am-form am-form-horizontal" action="{url('', ['action' => $action])}" method="post" data-dux="form-bind">
    <!--if{$orderInfo.order_seller_id}-->
    <div class="dux-box">
        <div class="box-header">卖家评分</div>
        <div class="box-body am-padding">
            <div class="am-form-group">
                <div class="am-form-content">
                    <div class="dux-select select">
                        <a href="javascript:;">
                            <label>
                                <input type="radio" name="store" value="1" hidden> 很差
                            </label>
                        </a>
                        <a href="javascript:;">
                            <label>
                                <input type="radio" name="store" value="2" hidden> 一般
                            </label>
                        </a>
                        <a href="javascript:;">
                            <label>
                                <input type="radio" name="store" value="3" hidden> 满意
                            </label>
                        </a>
                        <a href="javascript:;">
                            <label>
                                <input type="radio" name="store" value="4" hidden> 非常满意
                            </label>
                        </a>
                        <a href="javascript:;" class="active">
                            <label>
                                <input type="radio" name="store" value="5" checked hidden> 无可挑剔
                            </label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--{/if}-->
<div class="dux-box">
    <div class="box-header">商品评价</div>
    <div class="box-body am-padding">

            <div class="am-form-group">
                <div class="am-form-content">

                    <div class="dux-select" id="select">
                        <a href="javascript:;">
                            <label>
                                <input type="radio" name="level" value="1" hidden> 很差
                            </label>
                        </a>
                        <a href="javascript:;">
                            <label>
                                <input type="radio" name="level" value="2" hidden> 一般
                            </label>
                        </a>
                        <a href="javascript:;">
                            <label>
                                <input type="radio" name="level" value="3" hidden> 满意
                            </label>
                        </a>
                        <a href="javascript:;">
                            <label>
                                <input type="radio" name="level" value="4" hidden> 非常满意
                            </label>
                        </a>
                        <a href="javascript:;" class="active">
                            <label>
                                <input type="radio" name="level" value="5" checked hidden> 无可挑剔
                            </label>
                        </a>
                    </div>

                </div>
            </div>

            <div class="am-form-group">
                <div class="am-form-content">
                    <textarea rows="3" placeholder="请客观的发表您的评论,以便他人能够进行参考" name="content"></textarea>
                </div>
            </div>
            <div class="am-form-group">
                <div class="am-form-content">
                    <ul class="dux-upload-list am-cf">
                        <span id="images"></span>
                        <li>
                            <a href="javascript:;" class="add-img" data-dux="form-images" data-img-warp="#images"
                               data-img-name="images" data-num="5" data-tpl-el="#tpl" data-url="{url('member/Upload/index')}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="am-form-group">
                <div class="am-form-content">
                    <input type="hidden" name="id" value="{$id}">
                    <button type="submit" class="am-btn am-btn-danger am-btn-sm">发表评价</button>
                </div>
            </div>


    </div>
</div>
</form>
<script type="text/html" id="tpl">
    <li>
        <a href="{{ d.data.url }}" target="_blank"><img src="{{ d.data.url }}"></a>
        <i class="close">×</i>
        <input type="hidden" name="{{ d.name }}[]" value="{{ d.data.url }}">
    </li>
</script>
<script>
    Do('base', function () {
        $('#select').on('click', 'a', function () {
            $('#select').find('a').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>