<ul class="am-avg-sm-{count($saleList)} dux-tabs">
    <!--loop{$saleList as $vo}-->
    <li class="{$type == $vo.type ? 'active' : ''}">
        <a href="{url('', ['type' => $vo.type])}">{$vo.name}({$vo.total})</a>
    </li>
    <!--{/loop}-->
</ul>
<!--if{empty($pageList)}-->
<div class="dux-box am-padding am-text-center">
    暂无
</div>
<!--{/if}-->


<div class="dux-pro-list">
    <!--loop{$pageList as $vo}-->
    <div class="am-cf dux-pro-item">
            <div class="item-img">
                <img src="{$vo.user_avatar}?t={time()}" width="48" height="48">
            </div>
            <div class="item-info">
                <div class="title">{$vo.show_name}</div>
                <p>
                    加入时间：{date('Y-m-d H:i', $vo.join_time)}
                </p>
                <p>
                    <!--if{$vo.agent}-->
                    <span class="am-text-warning">分销用户</span>
                    <!--{else}-->
                    <span class="am-text-success">普通用户</span>
                    <!--{/if}-->
                </p>
            </div>
    </div>

    <!--{/loop}-->
</div>

<div class="dux-pages am-cf">
    {$page}
</div>

