<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{$pageInfo.title}</title>
    <link rel="stylesheet" href="{$sysPublic}/common/css/amazeui.min.css">
    <link rel="stylesheet" href="{$sysPublic}/common/css/fix.css">
    <script type="text/javascript" src="{$sysPublic}/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="{$sysPublic}/common/js/amazeui.js"></script>
    <script type="text/javascript" src="{$sysPublic}/common/js/do.js" data-cfg-autoload="false"></script>
    <script type="text/javascript" src="{$sysPublic}/common/js/package.js" data-path="{$sysPublic}/"
            data-role="<?php echo ROLE_NAME; ?>" data-root="<?php ROOT_URL; ?>"></script>
    <script type="text/javascript" src="{$sysPublic}/member/js/lib_mobile.js"></script>
    <!--loop{$userCss as $vo}-->
    <link rel="stylesheet" href="{$vo}">
    <!--{/loop}-->
    <!--loop{$userJs as $vo}-->
    <script type="text/javascript" src="{$vo}"></script>
    <!--{/loop}-->
</head>

<body>
<!--if{$header && !isApp()}-->
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1);" class="">
            <img class="am-header-icon-custom"
                 src='data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="64" height="64"><path d="M624.788992 204.047974 585.205965 164.464026 219.560038 530.185011 585.205965 895.864013 624.788992 856.280986 298.663014 530.16105Z" fill="#666666"></path></svg>'
                 alt=""/>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="{url('index/Index/index')}">
        {$pageInfo.name}
        </a>
    </h1>

    <!--if{$headNav}-->
    <div class="am-header-right am-header-nav" data-header-nav>
        <a href="{$headNav.url}">
            {$headNav.name}
        </a>
    </div>
    <!--{else}-->
    <div class="am-header-right am-header-nav">
        <a href="javascript:;" data-header-menu>
            <i class="am-header-icon am-icon-bars"></i>
        </a>
    </div>
    <!--{/if}-->
</header>
<!--{/if}-->

<div class="dux-header-nav">
    <ul>
        <li>
            <a href="">
                <i class="am-icon-home"></i>
                <p>首页</p>
            </a>
        </li>

        <li>
            <a href="">
                <i class="am-icon-search"></i>
                <p>搜索</p>
            </a>
        </li>
    </ul>
</div>
{$layout}

</body>
<script>
    Do('base_mobile', 'base', function () {
        base.frame();
        $('[data-header-menu]').on('click', function () {
            $('.dux-header-nav').toggle();
        });
    });
</script>
</html>