<!--if{empty($pageList)}-->
<div class="dux-box am-padding am-text-center">
    暂无记录
</div>
<!--{else}-->

<!--loop{$pageList as $vo}-->
<div class="dux-box am-margin-bottom" data-store>
    <div class="box-header box-header-color dux-flex">
        <a class="flex-1 dux-flex" href="{$data.seller_url}">
            <div class="flex-1">
                {date('Y-m-d H:i', $vo.create_time)}
            </div>
            <div class="more am-text-danger">
                {$vo.status_data.title}
            </div>
        </a>
    </div>

    <div class="dux-pro-item am-margin-0">
        <div class="item-img">
            <a href="{url('info', ['refund_no' => $vo['refund_no']])}"><img src="{$vo.goods_image}" width="70" height="70"></a>
        </div>
        <div class="item-info">
            <div class="title"><a href="{url('info', ['refund_no' => $vo['refund_no']])}">{$vo.goods_name}</a></div>
            <!--if{!empty($vo.options)}-->
            <p class="am-text-sm am-margin-top-sm">
                <!--loop{(array)$vo.goods_options as $v}-->
                {$v.value}
                <!--{/loop}-->
            </p>
            <!--{/if}-->

        </div>
    </div>

    <div class="box-foot am-text-right">
        <div>退款金额 <span class="am-text-primary">{$vo.refund_price}</span></div>
    </div>

</div>
<!--{/loop}-->
<div class="dux-pages am-cf">
    {$page}
</div>
<!--{/if}-->