<div data-dux="table-bind">
    <div class="dux-page-header am-cf">
        <div class="page-title">
            <form class="am-form-inline" method="get" action="{url()}">
                <div class="am-form-group">
                    <input type="text" name="keyword" class="am-form-field" value="{$pageMaps.keyword}" placeholder="搜索">
                </div>
                <div class="am-form-group">
                    <button type="submit" class="am-btn am-btn-primary am-icon-search"></button>
                </div>
            </form>
        </div>
        <div class="page-action">
            <a class="am-btn am-btn-danger" href="javascript:location.reload();"><i class="am-icon-refresh"></i></a>
        </div>
    </div>
    <div class="dux-page-table">
        <table class="am-table dux-table" data-table>
            <thead>
            <tr>
                <th width="100">#</th>
                <th>用户</th>
                <th>数量</th>
                <th>支出</th>
                <th>收入</th>
                <th class="am-text-center">状态</th>
                <th class="am-text-center">记录</th>
                <th class="am-text-center" width="140">操作</th>
            </tr>
            </thead>
            <tbody>
            <!--loop{$list as $vo}-->
            <tr>
                <th>{$vo.account_id}</th>
                <td><a href="{url('member/MemberUser/index', ['keyword' => $vo.user_tel])}">{$vo.show_name})</a></td>
                <td>{$vo.points}</td>
                <td>{$vo.spend}</td>
                <td>{$vo.charge}</td>
                <td class="am-text-center">
                    <!--if{$vo.status}-->
                    <span data-id="{$vo.user_id}" data-name="status" data-url="{url('status')}" data-status="1" class="am-text-success am-icon-circle"></span>
                    <!--{else}-->
                    <span data-id="{$vo.user_id}" data-name="status" data-url="{url('status')}" data-status="0" class="am-text-danger am-icon-circle"></span>
                    <!--{/if}-->
                </td>
                <td class="am-text-center">
                    <a class="am-btn am-btn-primary am-btn-xs" href="{url('member/PointsLog/index', ['tel'=>$vo.user_tel, 'type' => 1, 'label' => $vo.label])}" title="获得记录"><i class="am-icon-sign-out"></i></a>
                    <a class="am-btn am-btn-primary am-btn-xs" href="{url('member/PointsLog/index', ['tel'=>$vo.user_tel, 'type' => 0, 'label' => $vo.label])}" title="使用记录"><i class="am-icon-sign-in"></i></a>
                </td>
                <td class="am-text-center">
                    <a class="am-btn am-btn-primary am-btn-xs" href="{url('operate', ['id' => $vo.account_id])}" title="积分操作"><i class="am-icon-cog"></i></a>
                </td>
            </tr>
            <!--{/loop}-->
            <!--if{empty($list)}-->
            <tr>
                <td colspan="7" class="am-text-center">暂无积分账户</td>
            </tr>
            <!--{/if}-->
            </tbody>
        </table>
    </div>
    <div class="dux-page-foot am-cf">
        {$page}
    </div>
</div>