<div class="dux-index-count am-margin-top-0">
    <ul class=" am-g ">
        <li class="am-u-sm-6">
            <div class="item item1 am-margin-right-sm">
                <div class="icon">
                    <i class="am-icon-database"></i>
                </div>
                <div class="info">
                    <div class="count">￥{$saleMoneyMonth}</div>
                    <div class="name">本月返利</div>
                </div>
            </div>
        </li>
        <li class="am-u-sm-6">
            <div class="item item2 am-margin-left-sm">
                <div class="icon">
                    <i class="am-icon-database"></i>
                </div>
                <div class="info">
                    <div class="count">￥{$saleMoneyCount}</div>
                    <div class="name">总推广返利</div>
                </div>
            </div>
        </li>
    </ul>
    <br>
    <ul class=" am-g ">
        <li class="am-u-sm-6">
            <div class="item item3 am-margin-right-sm">
                <div class="icon">
                    <i class="am-icon-users"></i>
                </div>
                <div class="info">
                    <div class="count">{$userCount}人</div>
                    <div class="name">直属用户</div>
                </div>
            </div>
        </li>
        <li class="am-u-sm-6">
            <div class="item item1 am-margin-left-sm">
                <div class="icon">
                    <i class="am-icon-filter"></i>
                </div>
                <div class="info">
                    <div class="count">{$agentCount}人</div>
                    <div class="name">直属分销商</div>
                </div>
            </div>
        </li>
    </ul>

</div>
<br>

<div class="am-g">
    <div class="am-u-sm-6">
        <div class="dux-page am-margin-right-sm">
            <div class="page-header">
                推广佣金
            </div>
            <div class="page-box">
                <p>当月: <span class="am-text-danger">￥{$saleMoneyMonth}</span></p>
                <p>总额: <span class="am-text-danger">￥{$saleMoneyCount}</span></p>
                <div class="money-chart"></div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-6">
        <div class="dux-page am-margin-left-sm">
            <div class="page-header">
                推广人数
            </div>
            <div class="page-box">
                <p>直属用户: <span class="am-text-danger">{$userCount}</span></p>
                <p>直属分销商: <span class="am-text-danger">{$agentCount}</span></p>
                <div class="user-chart"></div>
            </div>
        </div>
    </div>
</div>
<br>


<br>
<div class="dux-page">
    <div class="page-header">
        年度推广佣金
    </div>
    <div class="page-box">
        <div class="year-chart"></div>

    </div>
</div>

<script>
    Do('chart', function () {

        new Chartist.Pie('.money-chart', {series:[{$saleMoneyMonth ? $saleMoneyMonth : 50},{$saleMoneyCount ? $saleMoneyCount : 50}]}, {
            donut: true,
            donutWidth: 30,
            startAngle: 270,
            total: 100,
            showLabel: false
        });

        new Chartist.Pie('.user-chart', {series:[{$userCount ?$userCount : 50},{$agentCount ? $agentCount : 50}]}, {
            donut: true,
                    donutWidth: 30,
                    startAngle: 270,
                    total: 100,
                    showLabel: false
        });


        new Chartist.Line('.year-chart', {$yearCountJson}, {
            low: 0,
            showArea: true
        });
    });
</script>