<!--if{empty($pageList)}-->
<div class="dux-box am-padding am-text-center">
    暂无用户通知
</div>
<!--{else}-->
<!--loop{$pageList as $vo}-->
<div class="dux-card dux-box">
    <div class="card-icon">
        <i class="am-icon-{$vo.icon ? $vo.icon : 'info'}"></i>
    </div>
    <div class="card-info">
        {$vo.content}
        <!--if{$vo.url}-->
        <div class="card-btn">
            <a href="{$vo.url}" class="am-btn am-btn-warning am-btn-xs">查看详情</a>
        </div>
        <!--{/if}-->
    </div>
</div>
<!--{/loop}-->
<div class="dux-pages am-cf">
    {$page}
</div>
<!--{/if}-->
