<section class="dux-layout-page">
    <form class="am-form dux-form" action="{url('', $urlParams)}" method="post" data-dux="form-bind" data-advanced="false">
        <div class="am-input-group">
            <span class="am-input-group-label">账号：</span>
            <input type="text" class="am-form-field" name="username" id="username" placeholder="{$nameTip}">
        </div>
        <!--if{$userConfig.verify_status || $userConfig.verify_image}-->
        <div class="am-input-group">
            <span class="am-input-group-label">图片验证：</span>
            <input type="text" class="am-form-field" placeholder="图片验证码" name="imgcode" id="imgcode">
            <span class="am-input-group-label">
                                <img src="{url('member/register/code')}" onclick="this.src ='{url("member/register/code")}?'+Math.random()">
                    </span>
        </div>
        <!--{/if}-->

        <!--if{$userConfig.verify_status}-->
        <div class="am-input-group">
            <span class="am-input-group-label">验证码：</span>
            <input type="text" class="am-form-field" placeholder="请输入验证码" name="code">
            <span class="am-input-group-label">
                <button href="javascript:;" class="am-btn am-btn-xs am-btn-primary" data-dux="page-getCode"
                        data-url="{url('member/Register/getCode')}" data-field="username,imgcode" type="button">获取验证码</button>

                    </span>
        </div>
        <!--{/if}-->
        <div class="am-input-group">
            <span class="am-input-group-label">密码：</span>
            <input type="password" class="am-form-field" name="password" placeholder="请设置登录密码"  autocomplete="new-password">
        </div>
        <!--loop{$hookField as $vo}-->
        <div class="am-input-group">
            <span class="am-input-group-label">{$vo.label}：</span>
            <input type="text" class="am-form-field" placeholder="{$vo.tip}" name="{$vo.name}" value="{$vo.value}">
        </div>
        <!--{/loop}-->
        <br>
        <label class="am-radio-inline am-padding-left-0">
            <input type="checkbox" name="agreement" value="1" checked>
            我已认真阅读并同意该<a href="{url('member/Register/agreement')}" class="am-text-danger">《用户协议》</a>
        </label>
        <div class="dux-br"> </div>
        <div class="dux-padding">
            <button class="am-btn am-btn-primary am-btn-block">立即注册</button>
        </div>
    </form>

</section>
